Repository inventree/InvenTree, pull requests merged in 2021-11, with the labels that each got.

#2223 setting sidebar ui tweaks
  InvenTree/templates/sidebar_header.html
Labels: user interface

#2222 UI tweaks
  InvenTree/InvenTree/static/css/inventree.css
  InvenTree/templates/navbar.html
Labels: user interface

#2224 remove breadcrub div where no breadcrumb is added
  InvenTree/templates/InvenTree/index.html
  InvenTree/templates/InvenTree/search.html
  InvenTree/templates/page_base.html
Labels: user interface

#2208 Email notification for low stock
  InvenTree/InvenTree/tasks.py
  InvenTree/InvenTree/test_api.py
  InvenTree/part/models.py
  InvenTree/part/tasks.py
  InvenTree/stock/models.py
  InvenTree/stock/templates/stock/low_stock_notification.html
Labels: enhancement, stock

#2230 Settings visual refactor
  InvenTree/common/models.py
  InvenTree/templates/InvenTree/settings/category.html
  InvenTree/templates/InvenTree/settings/currencies.html
  InvenTree/templates/InvenTree/settings/login.html
  InvenTree/templates/InvenTree/settings/part.html
  InvenTree/templates/InvenTree/settings/setting.html
  InvenTree/templates/InvenTree/settings/user.html
  InvenTree/templates/panel.html
Labels: enhancement, user interface

#2231 Refactor email body out into a template
  InvenTree/templates/email/email.html
  InvenTree/templates/email/low_stock_notification.html
Labels: enhancement, user interface

#2242 Small fixes for bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: CI

#2247 Fix for tree-view
  InvenTree/templates/js/translated/part.js
  InvenTree/templates/js/translated/stock.js
Labels: user interface

#2193 Add missing part import fields
  InvenTree/part/views.py
Labels: enhancement, part, user interface

#2198 Stock item forms
  InvenTree/InvenTree/static/script/inventree/notification.js
  InvenTree/company/templates/company/supplier_part.html
  InvenTree/order/templates/order/purchase_order_detail.html
  InvenTree/part/templates/part/detail.html
  InvenTree/stock/api.py
  InvenTree/stock/migrations/0067_alter_stockitem_part.py
  InvenTree/stock/models.py
  InvenTree/stock/serializers.py
  InvenTree/stock/templates/stock/item_base.html
  InvenTree/stock/templates/stock/location.html
  InvenTree/stock/test_api.py
  InvenTree/stock/test_views.py
  InvenTree/stock/urls.py
  InvenTree/stock/views.py
  InvenTree/templates/account/base.html
  InvenTree/templates/js/translated/barcode.js
  InvenTree/templates/js/translated/forms.js
  InvenTree/templates/js/translated/modals.js
  InvenTree/templates/js/translated/stock.js
  InvenTree/templates/stock_table.html
Labels: enhancement, stock, user interface, api

#2261 Adds a fancy shadow
  InvenTree/InvenTree/static/css/inventree.css
Labels: user interface

#2265 Matmair/issue2257
  InvenTree/templates/InvenTree/settings/user.html
Labels: enhancement, user interface, translation

#2277 Fix for printing multiple reports at once
  InvenTree/report/api.py
Labels: bug, report

#2283 Improve options for installing a part into another part
  InvenTree/part/models.py
  InvenTree/stock/views.py
Labels: enhancement, build

#2281 Adds "stock" column sorting for stock table
  InvenTree/stock/admin.py
  InvenTree/stock/api.py
  InvenTree/stock/migrations/0068_stockitem_serial_int.py
  InvenTree/stock/migrations/0069_auto_20211109_2347.py
  InvenTree/stock/models.py
  InvenTree/templates/js/translated/stock.js
Labels: enhancement, stock, api

#2285 Normalize "available stock" quantity before exporting
  InvenTree/part/bom.py
Labels: bug

#2288 Add setting for enabeling reports
  InvenTree/build/templates/build/build_base.html
  InvenTree/build/templates/build/index.html
  InvenTree/common/models.py
  InvenTree/order/templates/order/order_base.html
  InvenTree/order/templates/order/purchase_orders.html
  InvenTree/order/templates/order/sales_order_base.html
  InvenTree/order/templates/order/sales_orders.html
  InvenTree/part/templates/part/category.html
  InvenTree/part/templates/part/detail.html
  InvenTree/templates/InvenTree/settings/report.html
  InvenTree/templates/base.html
Labels: enhancement, report

#2300 Theme selector fixes
  InvenTree/common/models.py
  InvenTree/part/templatetags/inventree_extras.py
  InvenTree/templates/InvenTree/settings/user.html
  InvenTree/templates/InvenTree/settings/user_display.html
Labels: bug, enhancement, user interface

#2355 Bug fix: "validated" filter in BomItem API
  InvenTree/part/api.py
  InvenTree/part/test_api.py
Labels: bug, api

#2356 Adds "stock" column to substitute parts dialog
  InvenTree/templates/js/translated/bom.js
Labels: part

#2360 Add some missing parts of the UI to translations
  InvenTree/templates/InvenTree/settings/settings.html
  InvenTree/templates/InvenTree/settings/user.html
  InvenTree/templates/js/translated/part.js
  InvenTree/templates/js/translated/stock.js
Labels: enhancement, translation

#2358 [FR] testing language
  InvenTree/InvenTree/settings.py
  tasks.py
Labels: enhancement, CI, translation

#2361 Related part api
  InvenTree/part/api.py
  InvenTree/part/forms.py
  InvenTree/part/serializers.py
  InvenTree/part/templates/part/detail.html
  InvenTree/part/test_views.py
  InvenTree/part/urls.py
  InvenTree/part/views.py
  InvenTree/templates/js/translated/filters.js
  InvenTree/templates/js/translated/part.js
  InvenTree/templates/js/translated/table_filters.js
Labels: part, api

#2366 Collect translation stats as part of docker container initialization
  InvenTree/templates/InvenTree/settings/user.html
  docker/init.sh
Labels: docker, translation

#2371 [FR] User sessions
  InvenTree/InvenTree/settings.py
  InvenTree/InvenTree/urls.py
  InvenTree/InvenTree/views.py
  InvenTree/templates/InvenTree/settings/user.html
  InvenTree/templates/InvenTree/settings/user_display.html
  InvenTree/users/models.py
  requirements.txt
  tasks.py
Labels: enhancement, user interface, security
