Repository inventree/InvenTree, pull requests merged in 2021-12, with the labels that each got.

#2404 Add MPN to search
  InvenTree/part/api.py
  InvenTree/templates/base.html
Labels: enhancement, api

#2402 Fix to big / small references
  .github/workflows/html.yaml
  .github/workflows/javascript.yaml
  .gitignore
  InvenTree/InvenTree/models.py
  InvenTree/InvenTree/serializers.py
  InvenTree/build/migrations/0034_alter_build_reference_int.py
  InvenTree/build/serializers.py
  InvenTree/order/migrations/0054_auto_20211201_2139.py
  InvenTree/order/serializers.py
  InvenTree/order/test_api.py
  InvenTree/stock/models.py
  InvenTree/stock/serializers.py
  package.json
Labels: bug

#2199 Create SalesOrderShipment model
  InvenTree/InvenTree/version.py
  InvenTree/build/serializers.py
  InvenTree/company/templates/company/company_base.html
  InvenTree/order/admin.py
  InvenTree/order/api.py
  InvenTree/order/forms.py
  InvenTree/order/migrations/0053_salesordershipment.py
  InvenTree/order/migrations/0054_salesorderallocation_shipment.py
  InvenTree/order/migrations/0055_auto_20211025_0645.py
  InvenTree/order/migrations/0056_alter_salesorderallocation_shipment.py
  InvenTree/order/migrations/0057_salesorderlineitem_shipped.py
  InvenTree/order/migrations/0058_auto_20211126_1210.py
  InvenTree/order/migrations/0059_salesordershipment_tracking_number.py
  InvenTree/order/migrations/0060_auto_20211129_1339.py
  InvenTree/order/migrations/0061_merge_0054_auto_20211201_2139_0060_auto_20211129_1339.py
  InvenTree/order/models.py
  InvenTree/order/serializers.py
  InvenTree/order/templates/order/order_base.html
  InvenTree/order/templates/order/purchase_order_detail.html
  InvenTree/order/templates/order/sales_order_base.html
  InvenTree/order/templates/order/sales_order_detail.html
  InvenTree/order/templates/order/sales_order_ship.html
  InvenTree/order/templates/order/so_allocate_by_serial.html
  InvenTree/order/templates/order/so_sidebar.html
  InvenTree/order/test_api.py
  InvenTree/order/test_migrations.py
  InvenTree/order/test_sales_order.py
  InvenTree/order/urls.py
  InvenTree/order/views.py
  InvenTree/part/fixtures/part.yaml
  InvenTree/stock/api.py
  InvenTree/stock/templates/stock/item_base.html
  InvenTree/templates/js/translated/build.js
  InvenTree/templates/js/translated/forms.js
  InvenTree/templates/js/translated/modals.js
  InvenTree/templates/js/translated/model_renderers.js
  InvenTree/templates/js/translated/order.js
  InvenTree/templates/js/translated/stock.js
  InvenTree/templates/js/translated/table_filters.js
  InvenTree/users/models.py
Labels: enhancement, order, api

#2074 New Plugin definition
  .gitignore
  InvenTree/InvenTree/api.py
  InvenTree/InvenTree/plugins.py
  InvenTree/InvenTree/settings.py
  InvenTree/InvenTree/urls.py
  InvenTree/barcodes/api.py
  InvenTree/barcodes/barcode.py
  InvenTree/common/models.py
  InvenTree/plugin/__init__.py
  InvenTree/plugin/action.py
  InvenTree/plugin/admin.py
  InvenTree/plugin/api.py
  InvenTree/plugin/apps.py
  InvenTree/plugin/builtin/__init__.py
  InvenTree/plugin/builtin/action/__init__.py
  InvenTree/plugin/builtin/action/simpleactionplugin.py
  InvenTree/plugin/builtin/action/test_samples_action.py
  InvenTree/plugin/builtin/integration/__init__.py
  InvenTree/plugin/builtin/integration/mixins.py
  InvenTree/plugin/helpers.py
  InvenTree/plugin/integration.py
  InvenTree/plugin/loader.py
  InvenTree/plugin/migrations/0001_initial.py
  InvenTree/plugin/migrations/0002_alter_pluginconfig_options.py
  InvenTree/plugin/migrations/__init__.py
  InvenTree/plugin/mixins/__init__.py
  InvenTree/plugin/models.py
  InvenTree/plugin/plugin.py
  InvenTree/plugin/plugins.py
  InvenTree/plugin/registry.py
  InvenTree/plugin/samples/__init__.py
  InvenTree/plugin/samples/integration/__init__.py
  InvenTree/plugin/samples/integration/another_sample.py
  InvenTree/plugin/samples/integration/broken_file.py
  InvenTree/plugin/samples/integration/broken_sample.py
  InvenTree/plugin/samples/integration/sample.py
  InvenTree/plugin/samples/integration/test_samples_integration.py
  InvenTree/plugin/serializers.py
  InvenTree/plugin/templatetags/plugin_extras.py
  InvenTree/plugin/test_action.py
  InvenTree/plugin/test_api.py
  InvenTree/plugin/test_integration.py
  InvenTree/plugin/test_plugin.py
  InvenTree/plugin/urls.py
  InvenTree/plugins/plugins.py
  InvenTree/templates/503.html
  InvenTree/templates/InvenTree/settings/mixins/settings.html
  InvenTree/templates/InvenTree/settings/mixins/urls.html
  InvenTree/templates/InvenTree/settings/plugin.html
  InvenTree/templates/InvenTree/settings/plugin_settings.html
  InvenTree/templates/InvenTree/settings/settings.html
  InvenTree/templates/InvenTree/settings/sidebar.html
  InvenTree/templates/admin_button.html
  InvenTree/templates/base.html
  InvenTree/templates/js/translated/plugin.js
  InvenTree/templates/navbar.html
  InvenTree/templates/skeleton.html
  InvenTree/users/models.py
  requirements.txt
Labels: plugin

#2423 Adjustments for maintenance-mode options:
  InvenTree/InvenTree/settings.py
Labels: enhancement, docker, setup

#2446 Calculate how many items to assign to sales order
  InvenTree/templates/js/translated/order.js
Labels: bug, order

#2448 Correctly allow "inherited" BOM items to be allocated to a build order
  InvenTree/build/models.py
  InvenTree/build/serializers.py
  InvenTree/build/templates/build/build_base.html
Labels: bug, build

#2221 2FA with TOTP
  InvenTree/InvenTree/forms.py
  InvenTree/InvenTree/management/commands/remove_mfa.py
  InvenTree/InvenTree/middleware.py
  InvenTree/InvenTree/settings.py
  InvenTree/InvenTree/urls.py
  InvenTree/common/models.py
  InvenTree/plugin/registry.py
  InvenTree/templates/InvenTree/settings/login.html
  InvenTree/templates/InvenTree/settings/user.html
  InvenTree/templates/allauth_2fa/authenticate.html
  InvenTree/templates/allauth_2fa/backup_tokens.html
  InvenTree/templates/allauth_2fa/remove.html
  InvenTree/templates/allauth_2fa/setup.html
  InvenTree/users/models.py
  requirements.txt
  tasks.py
Labels: enhancement

#2451 Subcategory treeview improvements
  InvenTree/templates/js/dynamic/nav.js
Labels: enhancement, user interface

#2467 Change dev environment setup to use postgresql
  docker/Dockerfile
  docker/dev-config.env
  docker/docker-compose.dev.yml
  docker/init.sh
  docker/prod-config.env
  docker/requirements.txt
  requirements.txt
Labels: enhancement, docker, setup

#2468 Merge stock items
  InvenTree/InvenTree/status_codes.py
  InvenTree/InvenTree/version.py
  InvenTree/order/models.py
  InvenTree/script/translation_stats.py
  InvenTree/stock/api.py
  InvenTree/stock/fixtures/stock.yaml
  InvenTree/stock/migrations/0073_alter_stockitem_belongs_to.py
  InvenTree/stock/models.py
  InvenTree/stock/serializers.py
  InvenTree/stock/templates/stock/item_base.html
  InvenTree/stock/test_api.py
  InvenTree/templates/js/translated/stock.js
  InvenTree/templates/stock_table.html
Labels: stock, user interface, api

#2473 Use sqlite config for docker build test
  .github/workflows/docker_test.yaml
  docker/docker-compose.sqlite.yml
  docker/sqlite-config.env
Labels: CI, docker, setup

#2477 Duplicate bom form
  InvenTree/part/api.py
  InvenTree/part/forms.py
  InvenTree/part/models.py
  InvenTree/part/serializers.py
  InvenTree/part/templates/part/bom_duplicate.html
  InvenTree/part/templates/part/bom_validate.html
  InvenTree/part/templates/part/detail.html
  InvenTree/part/urls.py
  InvenTree/part/views.py
  InvenTree/templates/js/translated/api.js
  InvenTree/templates/js/translated/bom.js
  InvenTree/templates/js/translated/part.js
Labels: enhancement, part, api

#2480 Fix filtering for part purchase order table
  InvenTree/templates/js/translated/part.js
Labels: bug, order, part, api

#2481 re-add gunicorn to core docker requirements
  docker/requirements.txt
Labels: bug, demo, docker, setup

#2487 Add new SN match group
  InvenTree/InvenTree/helpers.py
  InvenTree/InvenTree/tests.py
  InvenTree/build/views.py
  InvenTree/order/serializers.py
  InvenTree/part/models.py
  InvenTree/stock/api.py
  InvenTree/stock/serializers.py
  InvenTree/stock/views.py
Labels: enhancement, stock, user interface

#2489 Plugin code bug fix
  InvenTree/plugin/builtin/integration/mixins.py
  InvenTree/plugin/mixins/__init__.py
  InvenTree/plugin/models.py
  InvenTree/plugin/registry.py
  InvenTree/plugin/samples/integration/sample.py
  InvenTree/plugin/test_integration.py
  InvenTree/templates/InvenTree/settings/mixins/urls.html
  InvenTree/templates/InvenTree/settings/plugin.html
  InvenTree/templates/InvenTree/settings/plugin_settings.html
  docker/Dockerfile
Labels: plugin

#2491 Plugin API fix
  InvenTree/plugin/models.py
  InvenTree/templates/InvenTree/settings/mixins/settings.html
  InvenTree/templates/InvenTree/settings/mixins/urls.html
  InvenTree/templates/InvenTree/settings/plugin_settings.html
Labels: bug, plugin
