Repository inventree/InvenTree, pull requests merged in 2022-05, with the labels that each got.

#2904 Adding permissions to hook
  .github/workflows/welcome.yml
Labels: bug, CI

#2714 [FR] Add delivery cost (excluding unit cost that already exists) in PO
  InvenTree/company/models.py
  InvenTree/order/admin.py
  InvenTree/order/api.py
  InvenTree/order/migrations/0064_purchaseorderextraline_salesorderextraline.py
  InvenTree/order/migrations/0065_alter_purchaseorderlineitem_part.py
  InvenTree/order/models.py
  InvenTree/order/serializers.py
  InvenTree/order/templates/order/order_base.html
  InvenTree/order/templates/order/purchase_order_detail.html
  InvenTree/order/templates/order/sales_order_base.html
  InvenTree/order/templates/order/sales_order_detail.html
  InvenTree/order/test_api.py
  InvenTree/order/test_migrations.py
  InvenTree/order/views.py
  InvenTree/report/api.py
  InvenTree/report/models.py
  InvenTree/report/serializers.py
  InvenTree/stock/api.py
  InvenTree/templates/js/translated/order.js
  InvenTree/templates/js/translated/report.js
  InvenTree/users/models.py
Labels: enhancement, order

#2909 Settings bug fixes
  InvenTree/build/migrations/0029_auto_20210601_1525.py
  InvenTree/common/models.py
  InvenTree/common/serializers.py
  InvenTree/common/tests.py
  InvenTree/templates/503.html
Labels: bug

#2910 Translation CI
  .github/workflows/translations.yml
  .gitignore
  InvenTree/templates/js/translated/order.js
  tasks.py
Labels: CI, translation

#2911 Fix CI
  .github/workflows/translations.yml
Labels: CI, translation

#2916 Force push translation files
  .github/workflows/translations.yml
Labels: CI, translation

#2919 Adds option to delete existing data when importing records
  tasks.py
Labels: setup

#2918 Translation adjustment
  InvenTree/locale/cs/LC_MESSAGES/django.mo
  InvenTree/locale/de/LC_MESSAGES/django.mo
  InvenTree/locale/el/LC_MESSAGES/django.mo
  InvenTree/locale/en/LC_MESSAGES/django.mo
  InvenTree/locale/es/LC_MESSAGES/django.mo
  InvenTree/locale/es_MX/LC_MESSAGES/django.mo
  InvenTree/locale/fa/LC_MESSAGES/django.mo
  InvenTree/locale/fr/LC_MESSAGES/django.mo
  InvenTree/locale/he/LC_MESSAGES/django.mo
  InvenTree/locale/hu/LC_MESSAGES/django.mo
  InvenTree/locale/id/LC_MESSAGES/django.mo
  InvenTree/locale/it/LC_MESSAGES/django.mo
  InvenTree/locale/ja/LC_MESSAGES/django.mo
  InvenTree/locale/ko/LC_MESSAGES/django.mo
  InvenTree/locale/nl/LC_MESSAGES/django.mo
  InvenTree/locale/no/LC_MESSAGES/django.mo
  InvenTree/locale/pl/LC_MESSAGES/django.mo
  InvenTree/locale/pt/LC_MESSAGES/django.mo
  InvenTree/locale/pt_br/LC_MESSAGES/django.mo
  InvenTree/locale/ru/LC_MESSAGES/django.mo
  InvenTree/locale/sv/LC_MESSAGES/django.mo
  InvenTree/locale/th/LC_MESSAGES/django.mo
  InvenTree/locale/tr/LC_MESSAGES/django.mo
  InvenTree/locale/vi/LC_MESSAGES/django.mo
  InvenTree/locale/zh/LC_MESSAGES/django.mo
  tasks.py
Labels: translation, setup

#2917 Add new readme
  README.md
Labels: enhancement, demo

#2770 Order parts wizard
  InvenTree/company/api.py
  InvenTree/order/serializers.py
  InvenTree/part/templates/part/category.html
  InvenTree/part/templates/part/part_base.html
  InvenTree/templates/js/translated/api.js
  InvenTree/templates/js/translated/barcode.js
  InvenTree/templates/js/translated/bom.js
  InvenTree/templates/js/translated/company.js
  InvenTree/templates/js/translated/filters.js
  InvenTree/templates/js/translated/forms.js
  InvenTree/templates/js/translated/modals.js
  InvenTree/templates/js/translated/model_renderers.js
  InvenTree/templates/js/translated/order.js
  InvenTree/templates/js/translated/part.js
  InvenTree/templates/js/translated/tables.js
Labels: enhancement, order, user interface, api

#2927 Order parts wizard
  InvenTree/build/templates/build/detail.html
  InvenTree/company/templates/company/detail.html
  InvenTree/company/templates/company/manufacturer_part.html
  InvenTree/company/templates/company/supplier_part.html
  InvenTree/order/templates/order/order_wizard/select_parts.html
  InvenTree/order/templates/order/order_wizard/select_pos.html
  InvenTree/order/urls.py
  InvenTree/order/views.py
  InvenTree/part/templates/part/detail.html
  InvenTree/part/templates/part/part_base.html
  InvenTree/templates/js/translated/build.js
  InvenTree/templates/js/translated/order.js
  InvenTree/templates/js/translated/stock.js
Labels: enhancement, user interface, api

#2928 Increase coverage
  InvenTree/order/migrations/0064_purchaseorderextraline_salesorderextraline.py
  InvenTree/plugin/apps.py
  InvenTree/plugin/builtin/barcode/mixins.py
  InvenTree/plugin/builtin/integration/mixins.py
  InvenTree/plugin/helpers.py
  InvenTree/plugin/integration.py
  InvenTree/plugin/registry.py
  InvenTree/plugin/samples/integration/scheduled_task.py
  InvenTree/plugin/samples/integration/test_scheduled_task.py
  InvenTree/plugin/test_integration.py
  InvenTree/plugin/test_plugin.py
  InvenTree/users/models.py
  InvenTree/users/tests.py
Labels: enhancement, CI

#2929 Fix speling errors in translated strings
  InvenTree/InvenTree/helpers.py
  InvenTree/build/models.py
  InvenTree/build/serializers.py
Labels: bug, translation

#2931 Converting more forms to the API
  InvenTree/InvenTree/api_version.py
  InvenTree/InvenTree/metadata.py
  InvenTree/build/api.py
  InvenTree/build/forms.py
  InvenTree/build/models.py
  InvenTree/build/serializers.py
  InvenTree/build/templates/build/build_base.html
  InvenTree/build/templates/build/cancel.html
  InvenTree/build/test_api.py
  InvenTree/build/test_build.py
  InvenTree/build/tests.py
  InvenTree/build/urls.py
  InvenTree/build/views.py
  InvenTree/order/api.py
  InvenTree/order/forms.py
  InvenTree/order/models.py
  InvenTree/order/serializers.py
  InvenTree/order/templates/order/delete_attachment.html
  InvenTree/order/templates/order/order_base.html
  InvenTree/order/templates/order/order_cancel.html
  InvenTree/order/templates/order/order_complete.html
  InvenTree/order/templates/order/order_issue.html
  InvenTree/order/templates/order/sales_order_base.html
  InvenTree/order/templates/order/sales_order_cancel.html
  InvenTree/order/test_api.py
  InvenTree/order/test_views.py
  InvenTree/order/urls.py
  InvenTree/order/views.py
  InvenTree/part/forms.py
  InvenTree/part/models.py
  InvenTree/part/test_bom_item.py
  InvenTree/part/views.py
  InvenTree/stock/api.py
  InvenTree/stock/forms.py
  InvenTree/stock/models.py
  InvenTree/stock/serializers.py
  InvenTree/stock/templates/stock/attachment_delete.html
  InvenTree/stock/templates/stock/item.html
  InvenTree/stock/templates/stock/item_base.html
  InvenTree/stock/templates/stock/stock_uninstall.html
  InvenTree/stock/test_api.py
  InvenTree/stock/urls.py
  InvenTree/stock/views.py
  InvenTree/templates/js/translated/build.js
  InvenTree/templates/js/translated/forms.js
  InvenTree/templates/js/translated/model_renderers.js
  InvenTree/templates/js/translated/order.js
  InvenTree/templates/js/translated/stock.js
Labels: enhancement, user interface, api

#2935 fix error with anon connections and language check
  InvenTree/part/templatetags/inventree_extras.py
Labels: bug

#2936 Test more templatetags
  InvenTree/part/templatetags/inventree_extras.py
  InvenTree/part/test_part.py
  InvenTree/plugin/loader.py
  InvenTree/plugin/plugin.py
  InvenTree/plugin/registry.py
Labels: CI

#2937 [Feature] UI Plugins
  InvenTree/InvenTree/fields.py
  InvenTree/InvenTree/forms.py
  InvenTree/InvenTree/settings.py
  InvenTree/InvenTree/urls.py
  InvenTree/InvenTree/views.py
  InvenTree/build/views.py
  InvenTree/company/views.py
  InvenTree/order/views.py
  InvenTree/part/templates/part/detail.html
  InvenTree/part/templates/part/part_sidebar.html
  InvenTree/part/test_part.py
  InvenTree/part/views.py
  InvenTree/plugin/builtin/integration/mixins.py
  InvenTree/plugin/loader.py
  InvenTree/plugin/mixins/__init__.py
  InvenTree/plugin/registry.py
  InvenTree/plugin/samples/integration/custom_panel_sample.py
  InvenTree/plugin/samples/integration/templates/panel_demo/childless.html
  InvenTree/plugin/template.py
  InvenTree/plugin/views.py
  InvenTree/stock/views.py
  InvenTree/templates/InvenTree/settings/plugin.html
  InvenTree/templates/base.html
  InvenTree/templates/page_base.html
  InvenTree/templates/plugin/panel_content.html
  InvenTree/templates/plugin/panel_js.html
  InvenTree/templates/plugin/panel_menu.html
Labels: enhancement, user interface, plugin

#2948 Check for empty column name in data importer
  InvenTree/InvenTree/serializers.py
Labels: bug, importer

#2944 Settings by key
  InvenTree/InvenTree/api_version.py
  InvenTree/common/api.py
  InvenTree/common/tests.py
  InvenTree/label/api.py
  InvenTree/plugin/api.py
  InvenTree/plugin/registry.py
  InvenTree/plugin/serializers.py
  InvenTree/templates/InvenTree/settings/setting.html
  InvenTree/templates/InvenTree/settings/settings.html
  InvenTree/templates/js/dynamic/settings.js
Labels: api

#2951 Adds global setting to enable or disable webcam support for barcodes
  InvenTree/common/models.py
  InvenTree/part/test_part.py
  InvenTree/templates/InvenTree/settings/barcode.html
  InvenTree/templates/js/translated/barcode.js
Labels: barcode

#2961 Order test results by decreasing date for build order
  InvenTree/part/models.py
  InvenTree/plugin/events.py
  InvenTree/stock/models.py
  InvenTree/templates/js/translated/build.js
Labels: bug, api, build

#2965 Mark inventree home directory as safe for git.
  docker/Dockerfile
Labels: CI, docker, security, setup

#2968 postgresql and mysql checks only run on push
  .github/workflows/qc_checks.yaml
Labels: CI

#2972 Do not try to create a new admin user if one already exists
  InvenTree/InvenTree/apps.py
Labels: setup

#2976 Do not redirect requests for media / static / api / js files
  .github/workflows/qc_checks.yaml
  InvenTree/InvenTree/middleware.py
Labels: security

#2977 Adding "download" buttons for more tables
  InvenTree/InvenTree/api.py
  InvenTree/InvenTree/api_version.py
  InvenTree/build/admin.py
  InvenTree/build/api.py
  InvenTree/order/admin.py
  InvenTree/order/api.py
  InvenTree/part/admin.py
  InvenTree/part/api.py
  InvenTree/stock/api.py
  InvenTree/templates/js/translated/build.js
  InvenTree/templates/js/translated/order.js
Labels: enhancement, api

#2978 Convert to variant fix
  InvenTree/part/models.py
  InvenTree/stock/models.py
Labels: bug, stock, build

#2981 Add settings which reference *model instances* allowing better lookup of models
  InvenTree/common/models.py
  InvenTree/common/serializers.py
  InvenTree/plugin/models.py
  InvenTree/plugin/samples/integration/sample.py
  InvenTree/templates/js/dynamic/settings.js
Labels: enhancement, plugin, api

#2984 Unit tests for auth stack
  InvenTree/InvenTree/middleware.py
  InvenTree/InvenTree/test_middleware.py
Labels: CI

#2990 Remove static label tests
  InvenTree/label/tests.py
Labels: CI

#2985 remove duplicate code
  InvenTree/users/models.py
Labels: CI

#2971 Plugin app refactor
  InvenTree/InvenTree/api.py
  InvenTree/InvenTree/apps.py
  InvenTree/InvenTree/test_api.py
  InvenTree/InvenTree/tests.py
  InvenTree/InvenTree/urls.py
  InvenTree/common/models.py
  InvenTree/common/notifications.py
  InvenTree/common/tests.py
  InvenTree/label/api.py
  InvenTree/plugin/__init__.py
  InvenTree/plugin/action.py
  InvenTree/plugin/api.py
  InvenTree/plugin/base/__init__.py
  InvenTree/plugin/base/action/__init__.py
  InvenTree/plugin/base/action/api.py
  InvenTree/plugin/base/action/mixins.py
  InvenTree/plugin/base/action/test_action.py
  InvenTree/plugin/base/barcodes/__init__.py
  InvenTree/plugin/base/barcodes/api.py
  InvenTree/plugin/base/barcodes/mixins.py
  InvenTree/plugin/base/barcodes/test_barcode.py
  InvenTree/plugin/base/event/__init__.py
  InvenTree/plugin/base/event/events.py
  InvenTree/plugin/base/event/mixins.py
  InvenTree/plugin/base/integration/__init__.py
  InvenTree/plugin/base/integration/mixins.py
  InvenTree/plugin/base/integration/test_mixins.py
  InvenTree/plugin/base/label/__init__.py
  InvenTree/plugin/base/label/label.py
  InvenTree/plugin/base/label/mixins.py
  InvenTree/plugin/builtin/action/simpleactionplugin.py
  InvenTree/plugin/builtin/action/test_simpleactionplugin.py
  InvenTree/plugin/builtin/barcodes/inventree_barcode.py
  InvenTree/plugin/builtin/integration/core_notifications.py
  InvenTree/plugin/events.py
  InvenTree/plugin/helpers.py
  InvenTree/plugin/integration.py
  InvenTree/plugin/mixins/__init__.py
  InvenTree/plugin/models.py
  InvenTree/plugin/plugin.py
  InvenTree/plugin/registry.py
  InvenTree/plugin/samples/event/__init__.py
  InvenTree/plugin/samples/event/event_sample.py
  InvenTree/plugin/samples/integration/another_sample.py
  InvenTree/plugin/samples/integration/api_caller.py
  InvenTree/plugin/samples/integration/broken_file.py
  InvenTree/plugin/samples/integration/broken_sample.py
  InvenTree/plugin/samples/integration/custom_panel_sample.py
  InvenTree/plugin/samples/integration/sample.py
  InvenTree/plugin/samples/integration/scheduled_task.py
  InvenTree/plugin/samples/integration/test_sample.py
  InvenTree/plugin/samples/integration/test_scheduled_task.py
  InvenTree/plugin/serializers.py
  InvenTree/plugin/template.py
  InvenTree/plugin/templatetags/plugin_extras.py
  InvenTree/plugin/test_api.py
  InvenTree/plugin/test_helpers.py
  InvenTree/plugin/test_plugin.py
  InvenTree/plugins/__init__.py
  InvenTree/templates/sample/sample.html
Labels: enhancement, plugin, CI

#2994 Bump python version
  .github/workflows/qc_checks.yaml
  .github/workflows/translations.yml
Labels: bug, CI, dependency

#2975 Fix boolean comparator
  InvenTree/InvenTree/apps.py
  InvenTree/InvenTree/helpers.py
  InvenTree/InvenTree/metadata.py
  InvenTree/InvenTree/models.py
  InvenTree/InvenTree/settings.py
  InvenTree/InvenTree/tasks.py
  InvenTree/InvenTree/views.py
  InvenTree/build/models.py
  InvenTree/common/files.py
  InvenTree/common/tests.py
  InvenTree/company/models.py
  InvenTree/company/views.py
  InvenTree/label/apps.py
  InvenTree/order/models.py
  InvenTree/part/models.py
  InvenTree/part/views.py
  InvenTree/report/models.py
  InvenTree/stock/models.py
  ci/check_version_number.py
Labels: CI

#2999 Fix Todo texts
  InvenTree/common/models.py
  InvenTree/plugin/base/action/api.py
  InvenTree/plugin/base/action/mixins.py
  InvenTree/plugin/base/action/test_action.py
  InvenTree/plugin/base/barcodes/api.py
  InvenTree/plugin/builtin/action/simpleactionplugin.py
  InvenTree/plugin/builtin/action/test_simpleactionplugin.py
  InvenTree/plugin/registry.py
Labels: CI

#3002 Fix "fields" attribute for PurchaseOrderLineItem edit form
  InvenTree/templates/js/translated/order.js
Labels: bug, order

#2957 Adds plugin mixin to "locate" items
  InvenTree/InvenTree/api_tester.py
  InvenTree/InvenTree/api_version.py
  InvenTree/order/api.py
  InvenTree/order/migrations/0067_auto_20220516_1120.py
  InvenTree/order/models.py
  InvenTree/order/test_api.py
  InvenTree/part/api.py
  InvenTree/part/migrations/0076_auto_20220516_0819.py
  InvenTree/part/models.py
  InvenTree/part/test_api.py
  InvenTree/part/test_part.py
  InvenTree/plugin/api.py
  InvenTree/plugin/base/locate/api.py
  InvenTree/plugin/base/locate/mixins.py
  InvenTree/plugin/mixins/__init__.py
  InvenTree/plugin/models.py
  InvenTree/plugin/samples/locate/__init__.py
  InvenTree/plugin/samples/locate/locate_sample.py
  InvenTree/plugin/serializers.py
  InvenTree/plugin/templatetags/plugin_extras.py
  InvenTree/stock/api.py
  InvenTree/stock/migrations/0075_auto_20220515_1440.py
  InvenTree/stock/models.py
  InvenTree/stock/templates/stock/item_base.html
  InvenTree/stock/templates/stock/location.html
  InvenTree/templates/base.html
  InvenTree/templates/js/translated/label.js
  InvenTree/templates/js/translated/plugin.js
Labels: enhancement, plugin, api

#3011 Remove python 2 code
  InvenTree/InvenTree/api.py
  InvenTree/InvenTree/fields.py
  InvenTree/InvenTree/forms.py
  InvenTree/InvenTree/serializers.py
  InvenTree/InvenTree/views.py
  InvenTree/build/api.py
  InvenTree/build/models.py
  InvenTree/build/serializers.py
  InvenTree/build/views.py
  InvenTree/common/api.py
  InvenTree/common/forms.py
  InvenTree/common/models.py
  InvenTree/common/serializers.py
  InvenTree/common/settings.py
  InvenTree/common/test_views.py
  InvenTree/common/views.py
  InvenTree/company/api.py
  InvenTree/company/forms.py
  InvenTree/company/models.py
  InvenTree/company/test_views.py
  InvenTree/company/views.py
  InvenTree/label/models.py
  InvenTree/label/test_api.py
  InvenTree/label/tests.py
  InvenTree/order/api.py
  InvenTree/order/forms.py
  InvenTree/order/serializers.py
  InvenTree/order/test_views.py
  InvenTree/order/views.py
  InvenTree/part/api.py
  InvenTree/part/forms.py
  InvenTree/part/models.py
  InvenTree/part/settings.py
  InvenTree/part/test_param.py
  InvenTree/part/views.py
  InvenTree/plugin/api.py
  InvenTree/plugin/base/event/events.py
  InvenTree/plugin/models.py
  InvenTree/plugin/serializers.py
  InvenTree/report/models.py
  InvenTree/stock/api.py
  InvenTree/stock/forms.py
  InvenTree/stock/models.py
  InvenTree/stock/serializers.py
  InvenTree/stock/test_api.py
  InvenTree/stock/views.py
  ci/check_api_endpoint.py
  ci/check_js_templates.py
  ci/check_locale_files.py
  ci/check_migration_files.py
  ci/check_version_number.py
  tasks.py
Labels: CI

#3001 Add isort
  requirements.txt
  setup.cfg
Labels: CI

#3017 Bug Fix: Build output delete API endpoint
  InvenTree/build/api.py
  InvenTree/build/serializers.py
  InvenTree/build/test_api.py
Labels: bug, api

#3010 SalesOrderShipment allocation fix
  InvenTree/InvenTree/exceptions.py
  InvenTree/InvenTree/settings.py
  InvenTree/order/migrations/0068_alter_salesorderallocation_unique_together.py
  InvenTree/order/models.py
  InvenTree/order/serializers.py
  InvenTree/templates/js/translated/api.js
Labels: bug, order, api

#2993 webp image support
  .github/workflows/docker_test.yaml
  InvenTree/InvenTree/tests.py
  InvenTree/part/test_api.py
  InvenTree/part/test_part.py
  docker/Dockerfile
  requirements.txt
Labels: bug, enhancement, docker

#3025 Docker ci fix
  .github/workflows/docker_latest.yaml
  .github/workflows/docker_test.yaml
Labels: CI, docker

#3026 Catch errors when rendering custom plugin panels
  InvenTree/plugin/views.py
Labels: enhancement, plugin

#2912 Implement Attachments for manufacturer parts
  InvenTree/InvenTree/api_version.py
  InvenTree/company/admin.py
  InvenTree/company/api.py
  InvenTree/company/migrations/0043_manufacturerpartattachment.py
  InvenTree/company/models.py
  InvenTree/company/serializers.py
  InvenTree/company/templates/company/manufacturer_part.html
  InvenTree/company/templates/company/manufacturer_part_sidebar.html
  InvenTree/users/models.py
Labels: enhancement, user interface, api

#3020 Download unit tests
  InvenTree/InvenTree/api_tester.py
  InvenTree/build/admin.py
  InvenTree/build/test_api.py
  InvenTree/order/admin.py
  InvenTree/order/api.py
  InvenTree/order/test_api.py
  InvenTree/part/admin.py
  InvenTree/part/test_api.py
  InvenTree/stock/admin.py
  InvenTree/stock/test_api.py
Labels: CI

#3028 [Feature] Create a default shipment when creating SO
  InvenTree/common/models.py
  InvenTree/order/models.py
  InvenTree/order/test_sales_order.py
  InvenTree/templates/InvenTree/settings/so.html
Labels: enhancement, order

#3034 Plugin panels test
  .github/workflows/qc_checks.yaml
  InvenTree/InvenTree/ready.py
  InvenTree/InvenTree/tests.py
  InvenTree/plugin/apps.py
  InvenTree/plugin/base/integration/mixins.py
  InvenTree/plugin/base/integration/test_mixins.py
  InvenTree/plugin/helpers.py
  InvenTree/plugin/registry.py
  InvenTree/plugin/samples/event/event_sample.py
  InvenTree/plugin/samples/integration/custom_panel_sample.py
  InvenTree/plugin/views.py
  setup.cfg
Labels: user interface, plugin, CI

#3035 Expand unit tests for settings
  InvenTree/common/tests.py
Labels: CI

#3036 Primitive solution to SO reload on shipment
  InvenTree/templates/js/translated/order.js
Labels: enhancement, user interface

#3000 DevOps improvements
  .pre-commit-config.yaml
  CONTRIBUTING.md
  requirements.txt
  setup.cfg
  tasks.py
Labels: enhancement, CI

#3038 Search Results Fix
  InvenTree/common/models.py
  InvenTree/common/tests.py
  InvenTree/templates/InvenTree/settings/user_search.html
  InvenTree/templates/js/translated/search.js
Labels: enhancement, user interface

#2991 Static test fixes
  .github/workflows/qc_checks.yaml
  InvenTree/InvenTree/test_middleware.py
  InvenTree/common/models.py
  InvenTree/common/tests.py
  InvenTree/label/apps.py
  InvenTree/label/tests.py
  InvenTree/part/templatetags/inventree_extras.py
  tasks.py
Labels: CI

#3044 [BUG] Remove repo name from assertation
  InvenTree/InvenTree/tests.py
Labels: bug, CI

#3040 Test simplify
  InvenTree/InvenTree/api_tester.py
  InvenTree/InvenTree/ci_render_js.py
  InvenTree/InvenTree/helpers.py
  InvenTree/InvenTree/test_api.py
  InvenTree/InvenTree/test_middleware.py
  InvenTree/InvenTree/test_views.py
  InvenTree/InvenTree/tests.py
  InvenTree/build/test_api.py
  InvenTree/build/tests.py
  InvenTree/common/tests.py
  InvenTree/company/test_views.py
  InvenTree/order/test_views.py
  InvenTree/part/test_bom_export.py
  InvenTree/part/test_part.py
  InvenTree/part/test_views.py
  InvenTree/plugin/base/action/test_action.py
  InvenTree/plugin/base/barcodes/test_barcode.py
  InvenTree/plugin/base/integration/test_mixins.py
  InvenTree/plugin/builtin/action/test_simpleactionplugin.py
  InvenTree/plugin/builtin/barcodes/test_inventree_barcode.py
  InvenTree/plugin/samples/integration/test_sample.py
  InvenTree/stock/test_views.py
  InvenTree/stock/tests.py
  InvenTree/users/tests.py
  setup.cfg
Labels: enhancement, CI

#3043 Complete Allocated Pending Orders from SO Page Actions Menu
  InvenTree/order/templates/order/sales_order_base.html
  InvenTree/templates/js/translated/forms.js
  InvenTree/templates/js/translated/modals.js
  InvenTree/templates/js/translated/order.js
Labels: enhancement, order, user interface, api

#3024 [Feature] Shipment Creation in Stock Allocation Modal
  InvenTree/order/templates/order/sales_order_detail.html
  InvenTree/templates/js/translated/forms.js
  InvenTree/templates/js/translated/order.js
Labels: order, user interface

#3046 Exclude testing exceptions from coverage
  InvenTree/InvenTree/ci_render_js.py
  InvenTree/InvenTree/tests.py
  InvenTree/common/tests.py
  InvenTree/part/test_part.py
  InvenTree/plugin/apps.py
  InvenTree/plugin/base/integration/mixins.py
  InvenTree/users/tests.py
Labels: CI

#3047 Label printing unit test
  InvenTree/label/api.py
  InvenTree/label/apps.py
  InvenTree/label/models.py
  InvenTree/label/test_api.py
  InvenTree/plugin/base/label/label.py
  InvenTree/plugin/base/label/test_label_mixin.py
  InvenTree/plugin/samples/integration/custom_panel_sample.py
  InvenTree/plugin/samples/integration/label_sample.py
Labels: api, CI

#3050 Shipment date edit
  InvenTree/order/models.py
  InvenTree/order/serializers.py
  InvenTree/order/test_api.py
  InvenTree/templates/js/translated/order.js
Labels: enhancement, order, user interface, CI

#3054 Remove dead code
  InvenTree/label/models.py
Labels: question, report, CI

#3052 More plugin testing
  InvenTree/InvenTree/settings.py
  InvenTree/common/test_notifications.py
  InvenTree/plugin/base/event/events.py
  InvenTree/plugin/base/integration/mixins.py
  InvenTree/plugin/base/integration/test_mixins.py
  InvenTree/plugin/base/locate/mixins.py
  InvenTree/plugin/base/locate/test_locate.py
  InvenTree/plugin/samples/event/event_sample.py
  InvenTree/plugin/samples/event/test_event_sample.py
  InvenTree/plugin/samples/locate/locate_sample.py
  InvenTree/plugin/samples/locate/test_locate_sample.py
Labels: plugin, CI

#3057 Stock available
  InvenTree/stock/templates/stock/item_base.html
  InvenTree/stock/views.py
  InvenTree/templates/js/translated/stock.js
Labels: enhancement, stock

#3058 SalesOrderShipment improvements
  InvenTree/InvenTree/api_version.py
  InvenTree/order/migrations/0069_auto_20220524_0508.py
  InvenTree/order/models.py
  InvenTree/order/serializers.py
  InvenTree/order/test_api.py
  InvenTree/templates/js/translated/order.js
Labels: enhancement, order

#3070 Enable 'tree view' for build order table
  InvenTree/build/templates/build/detail.html
  InvenTree/build/templates/build/index.html
  InvenTree/order/templates/order/purchase_orders.html
  InvenTree/order/templates/order/sales_order_detail.html
  InvenTree/order/templates/order/sales_orders.html
  InvenTree/part/templates/part/detail.html
  InvenTree/templates/InvenTree/index.html
  InvenTree/templates/InvenTree/search.html
  InvenTree/templates/js/translated/build.js
  InvenTree/templates/js/translated/order.js
  InvenTree/templates/js/translated/tables.js
Labels: enhancement, user interface

#3079 Add codeowners
  .github/CODEOWNERS
Labels: CI

#3075 Improve error management for order price calculation
  InvenTree/order/models.py
  InvenTree/order/templates/order/order_base.html
  InvenTree/order/templates/order/sales_order_base.html
Labels: bug, pricing

#3084 Adds 'quarantine' code for StockItemStatus
  InvenTree/InvenTree/status_codes.py
  InvenTree/stock/migrations/0076_alter_stockitem_status.py
Labels: stock

#3087 CI updates
  .github/actions/migration/action.yaml
  .github/actions/setup/action.yaml
  .github/workflows/qc_checks.yaml
  .pre-commit-config.yaml
  InvenTree/order/models.py
  InvenTree/stock/templates/stock/item_base.html
  InvenTree/templates/js/translated/build.js
  InvenTree/templates/js/translated/order.js
  InvenTree/templates/js/translated/tables.js
  tasks.py
Labels: CI

#3081 Add option to also reload plugin mechanisms
  InvenTree/InvenTree/tests.py
  InvenTree/plugin/registry.py
Labels: plugin, CI

#3042 Docker improvements
  .env
  .github/workflows/docker.yaml
  .github/workflows/docker_latest.yaml
  .github/workflows/docker_stable.yaml
  .github/workflows/docker_tag.yaml
  .github/workflows/qc_checks.yaml
  .github/workflows/version.yml
  .gitignore
  Dockerfile
  InvenTree/InvenTree/api_tester.py
  InvenTree/InvenTree/exceptions.py
  InvenTree/InvenTree/helpers.py
  InvenTree/InvenTree/tests.py
  InvenTree/InvenTree/version.py
  InvenTree/common/notifications.py
  InvenTree/label/api.py
  InvenTree/part/tasks.py
  InvenTree/part/test_api.py
  InvenTree/plugin/base/label/label.py
  InvenTree/plugin/base/label/mixins.py
  InvenTree/plugin/base/label/test_label_mixin.py
  InvenTree/plugin/samples/integration/label_sample.py
  ci/check_version_number.py
  docker-compose.yml
  docker/init.sh
  docker/production/.env
  requirements.txt
  tasks.py
Labels: enhancement, plugin, report, CI, docker, setup

#3096 Change docker user
  Dockerfile
Labels: docker

#3099 Adds release.yml file for auto-generating release notes
  .github/release.yml
  CONTRIBUTING.md
Labels: CI

#3102 Version checker
  .github/workflows/docker.yaml
  .github/workflows/qc_checks.yaml
  ci/version_check.py
Labels: CI, docker

#3103 Search improvements
  InvenTree/InvenTree/api_version.py
  InvenTree/common/models.py
  InvenTree/part/api.py
  InvenTree/templates/InvenTree/settings/user_search.html
  InvenTree/templates/js/translated/search.js
Labels: enhancement, part, api

#3104 Remove unique-together requirement for BomItem model
  InvenTree/build/test_build.py
  InvenTree/part/migrations/0077_alter_bomitem_unique_together.py
  InvenTree/part/models.py
Labels: enhancement, part

#3105 Fix formatting of 'build-args' parameter for docker build
  .github/workflows/docker.yaml
Labels: CI, docker
