Repository inventree/InvenTree, pull requests merged in 2022-02, with the labels that each got.

#2596 Fixes issue with BOM export
  InvenTree/templates/js/translated/bom.js
Labels: bug

#2598 Skips some specific steps when importing data
  InvenTree/InvenTree/ready.py
  InvenTree/build/tasks.py
  InvenTree/part/tasks.py
  InvenTree/plugin/apps.py
Labels: bug, setup

#2599 Hide part pricing history
  InvenTree/common/models.py
  InvenTree/part/templates/part/detail.html
  InvenTree/part/templates/part/part_sidebar.html
  InvenTree/part/views.py
  InvenTree/templates/InvenTree/settings/part.html
  InvenTree/templates/js/translated/bom.js
Labels: bug, part, pricing

#2603 Bom upload improvements
  InvenTree/InvenTree/validators.py
  InvenTree/part/api.py
  InvenTree/part/serializers.py
  InvenTree/part/templates/part/bom_upload/match_fields.html
  InvenTree/part/templates/part/bom_upload/match_parts.html
  InvenTree/part/templates/part/bom_upload/upload_file.html
  InvenTree/part/templates/part/upload_bom.html
  InvenTree/part/test_bom_export.py
  InvenTree/part/urls.py
  InvenTree/part/views.py
  InvenTree/templates/js/translated/bom.js
  InvenTree/templates/js/translated/forms.js
  InvenTree/templates/js/translated/model_renderers.js
Labels: bug, enhancement, part, user interface, api

#2615 Delete multiple outputs
  InvenTree/InvenTree/version.py
  InvenTree/build/api.py
  InvenTree/build/forms.py
  InvenTree/build/models.py
  InvenTree/build/serializers.py
  InvenTree/build/templates/build/detail.html
  InvenTree/build/urls.py
  InvenTree/build/views.py
  InvenTree/templates/js/translated/build.js
Labels: enhancement, user interface, build

#2641 Report cache fixes
  InvenTree/report/api.py
  InvenTree/report/models.py
Labels: bug, report

#2651 Translation fixes
  InvenTree/InvenTree/serializers.py
  InvenTree/templates/allauth_2fa/backup_tokens.html
  InvenTree/templates/allauth_2fa/setup.html
Labels: enhancement, translation

#2666 [BUG] Unable to create build output
  InvenTree/build/serializers.py
Labels: bug, build

#2673 Build order allocating substitutes
  InvenTree/InvenTree/status_codes.py
  InvenTree/build/models.py
  InvenTree/build/serializers.py
  InvenTree/build/templates/build/build_base.html
  InvenTree/build/templates/build/detail.html
  InvenTree/build/test_build.py
  InvenTree/part/migrations/0056_auto_20201110_1125.py
  InvenTree/stock/models.py
  InvenTree/stock/templates/stock/item_base.html
  InvenTree/templates/js/translated/stock.js
  InvenTree/users/models.py
Labels: bug, build

#2680 Add DO quickdeploy to readme
  README.md
Labels: setup

#2682 Fix git version bug
  InvenTree/plugin/apps.py
  InvenTree/plugin/helpers.py
  InvenTree/plugin/registry.py
Labels: bug

#2687 Create and continue
  InvenTree/InvenTree/static/script/inventree/notification.js
  InvenTree/part/templates/part/category.html
  InvenTree/templates/js/translated/forms.js
Labels: enhancement, user interface

#2686 Po receive serials
  InvenTree/InvenTree/helpers.py
  InvenTree/InvenTree/status.py
  InvenTree/order/models.py
  InvenTree/order/serializers.py
  InvenTree/order/test_api.py
  InvenTree/templates/js/translated/forms.js
  InvenTree/templates/js/translated/helpers.js
  InvenTree/templates/js/translated/order.js
Labels: enhancement, order, user interface

#2684 Order target date improvements
  InvenTree/InvenTree/version.py
  InvenTree/order/api.py
  InvenTree/order/migrations/0062_auto_20220228_0321.py
  InvenTree/order/migrations/0063_alter_purchaseorderlineitem_unique_together.py
  InvenTree/order/models.py
  InvenTree/order/serializers.py
  InvenTree/order/templates/order/purchase_order_detail.html
  InvenTree/order/templates/order/sales_order_detail.html
  InvenTree/templates/js/translated/order.js
  InvenTree/templates/js/translated/part.js
Labels: enhancement, order

#2688 Custom admin url
  InvenTree/InvenTree/settings.py
  InvenTree/InvenTree/urls.py
  InvenTree/templates/navbar.html
Labels: security

#2685 Adds a user-configurable setting to configure how dates are displayed
  InvenTree/build/templates/build/build_base.html
  InvenTree/build/templates/build/detail.html
  InvenTree/common/models.py
  InvenTree/order/templates/order/order_base.html
  InvenTree/order/templates/order/sales_order_base.html
  InvenTree/part/templates/part/detail.html
  InvenTree/part/templates/part/part_base.html
  InvenTree/part/templatetags/inventree_extras.py
  InvenTree/report/templates/report/inventree_build_order_base.html
  InvenTree/stock/templates/stock/item_base.html
  InvenTree/templates/InvenTree/settings/plugin.html
  InvenTree/templates/InvenTree/settings/plugin_settings.html
  InvenTree/templates/InvenTree/settings/setting.html
  InvenTree/templates/InvenTree/settings/user_display.html
  InvenTree/templates/about.html
  InvenTree/templates/js/dynamic/calendar.js
  InvenTree/templates/js/dynamic/settings.js
  InvenTree/templates/js/translated/attachment.js
  InvenTree/templates/js/translated/build.js
  InvenTree/templates/js/translated/order.js
  InvenTree/templates/js/translated/stock.js
  InvenTree/templates/version.html
Labels: enhancement, user interface
