Repository inventree/InvenTree, pull requests merged in 2022-01, with the labels that each got.

#2502 Add welcome messages
  .github/workflows/welcome.yml
Labels: CI

#2510 Adds confirmation inputs when completing build order
  InvenTree/build/api.py
  InvenTree/build/forms.py
  InvenTree/build/models.py
  InvenTree/build/serializers.py
  InvenTree/build/templates/build/build_base.html
  InvenTree/build/templates/build/complete.html
  InvenTree/build/test_api.py
  InvenTree/build/urls.py
  InvenTree/build/views.py
  InvenTree/templates/js/translated/build.js
Labels: enhancement, build

#2495 Mark stale PRs / issues
  .github/workflows/stale.yml
Labels: CI

#2492 Plugin settings refactor
  InvenTree/InvenTree/management/commands/clean_settings.py
  InvenTree/InvenTree/version.py
  InvenTree/common/models.py
  InvenTree/common/tests.py
  InvenTree/part/templatetags/inventree_extras.py
  InvenTree/plugin/__init__.py
  InvenTree/plugin/admin.py
  InvenTree/plugin/api.py
  InvenTree/plugin/apps.py
  InvenTree/plugin/builtin/integration/mixins.py
  InvenTree/plugin/helpers.py
  InvenTree/plugin/integration.py
  InvenTree/plugin/loader.py
  InvenTree/plugin/migrations/0003_pluginsetting.py
  InvenTree/plugin/models.py
  InvenTree/plugin/plugin.py
  InvenTree/plugin/registry.py
  InvenTree/plugin/samples/integration/sample.py
  InvenTree/plugin/serializers.py
  InvenTree/plugin/templatetags/plugin_extras.py
  InvenTree/plugin/test_api.py
  InvenTree/plugin/test_integration.py
  InvenTree/plugin/test_plugin.py
  InvenTree/plugin/urls.py
  InvenTree/templates/InvenTree/settings/login.html
  InvenTree/templates/InvenTree/settings/mixins/settings.html
  InvenTree/templates/InvenTree/settings/plugin.html
  InvenTree/templates/InvenTree/settings/report.html
  InvenTree/templates/InvenTree/settings/setting.html
  InvenTree/templates/InvenTree/settings/settings.html
  InvenTree/templates/InvenTree/settings/sidebar.html
  InvenTree/templates/js/dynamic/settings.js
  InvenTree/users/models.py
Labels: enhancement, plugin

#2512 Adds "scheduled task" mixin for plugins
  InvenTree/common/models.py
  InvenTree/plugin/builtin/integration/mixins.py
  InvenTree/plugin/integration.py
  InvenTree/plugin/mixins/__init__.py
  InvenTree/plugin/registry.py
  InvenTree/plugin/samples/integration/scheduled_task.py
  InvenTree/templates/InvenTree/settings/plugin.html
Labels: enhancement, plugin

#2509 Plugin install
  InvenTree/plugin/registry.py
  InvenTree/plugin/serializers.py
Labels: enhancement, plugin

#2518 [Plugin] API Call mixin
  InvenTree/plugin/__init__.py
  InvenTree/plugin/builtin/integration/mixins.py
  InvenTree/plugin/mixins/__init__.py
  InvenTree/plugin/samples/integration/api_caller.py
  InvenTree/plugin/samples/integration/test_api_caller.py
  InvenTree/plugin/test_integration.py
Labels: plugin

#2515 [Plugin] Triggered Events
  InvenTree/InvenTree/tasks.py
  InvenTree/build/models.py
  InvenTree/common/models.py
  InvenTree/config_template.yaml
  InvenTree/order/models.py
  InvenTree/part/models.py
  InvenTree/plugin/builtin/integration/mixins.py
  InvenTree/plugin/events.py
  InvenTree/plugin/integration.py
  InvenTree/plugin/mixins/__init__.py
  InvenTree/plugin/plugin.py
  InvenTree/plugin/registry.py
  InvenTree/plugin/samples/integration/event_sample.py
  InvenTree/plugin/samples/integration/scheduled_task.py
  InvenTree/stock/models.py
  InvenTree/stock/serializers.py
  InvenTree/templates/InvenTree/settings/plugin.html
  InvenTree/templates/InvenTree/settings/plugin_settings.html
  InvenTree/templates/InvenTree/settings/report.html
  InvenTree/templates/InvenTree/settings/stock.html
  InvenTree/templates/InvenTree/settings/user.html
  InvenTree/templates/js/translated/part.js
  InvenTree/templates/js/translated/stock.js
  InvenTree/templates/navbar.html
Labels: enhancement, plugin

#2534 Plugin enable
  .github/workflows/qc_checks.yaml
  InvenTree/InvenTree/settings.py
  InvenTree/InvenTree/urls.py
  InvenTree/config_template.yaml
  InvenTree/part/templatetags/inventree_extras.py
  InvenTree/plugin/apps.py
  InvenTree/plugin/events.py
  InvenTree/plugin/registry.py
  InvenTree/templates/InvenTree/settings/settings.html
  InvenTree/templates/InvenTree/settings/sidebar.html
  InvenTree/templates/stats.html
  docker/dev-config.env
  docker/prod-config.env
Labels: enhancement, plugin, docker, setup

#2525 Refactor action and barcode plugins and cleanup
  InvenTree/InvenTree/api.py
  InvenTree/InvenTree/settings.py
  InvenTree/barcodes/api.py
  InvenTree/barcodes/barcode.py
  InvenTree/common/models.py
  InvenTree/plugin/__init__.py
  InvenTree/plugin/action.py
  InvenTree/plugin/admin.py
  InvenTree/plugin/apps.py
  InvenTree/plugin/builtin/action/mixins.py
  InvenTree/plugin/builtin/barcode/__init__.py
  InvenTree/plugin/builtin/barcode/mixins.py
  InvenTree/plugin/builtin/integration/mixins.py
  InvenTree/plugin/events.py
  InvenTree/plugin/helpers.py
  InvenTree/plugin/integration.py
  InvenTree/plugin/loader.py
  InvenTree/plugin/mixins/__init__.py
  InvenTree/plugin/models.py
  InvenTree/plugin/plugin.py
  InvenTree/plugin/plugins.py
  InvenTree/plugin/registry.py
  InvenTree/plugin/samples/integration/test_api_caller.py
  InvenTree/plugin/templatetags/plugin_extras.py
  InvenTree/plugin/test_api.py
  InvenTree/plugin/test_plugin.py
  InvenTree/plugin/urls.py
Labels: plugin

#2543 Adds the ability for 'scheduled tasks' to be member functions of plugins
  InvenTree/plugin/builtin/integration/mixins.py
  InvenTree/plugin/registry.py
  InvenTree/plugin/samples/integration/scheduled_task.py
  docker/dev-config.env
Labels: enhancement, plugin

#2548 Fix for i18n javascript
  InvenTree/part/templatetags/inventree_extras.py
Labels: bug, translation

#2559 Modal form fixes
  InvenTree/templates/js/translated/forms.js
  InvenTree/templates/js/translated/modals.js
Labels: enhancement, user interface

#2563 Small code quality fixes
  InvenTree/InvenTree/helpers.py
  InvenTree/barcodes/api.py
  InvenTree/barcodes/tests.py
  InvenTree/build/test_api.py
  InvenTree/common/api.py
  InvenTree/common/files.py
  InvenTree/common/models.py
  InvenTree/common/tests.py
  InvenTree/order/forms.py
  InvenTree/part/api.py
  InvenTree/part/forms.py
  InvenTree/part/models.py
  InvenTree/part/templatetags/inventree_extras.py
  InvenTree/part/test_part.py
  InvenTree/part/test_supplier_part.py
  InvenTree/plugin/builtin/barcode/mixins.py
  InvenTree/plugin/integration.py
  InvenTree/plugin/models.py
  InvenTree/plugin/registry.py
  InvenTree/stock/models.py
Labels: security
