Repository inventree/InvenTree, pull requests merged in 2022-03, with the labels that each got.

#2699 Allow duplication of subtitute parts when copying a BOM
  InvenTree/part/models.py
  InvenTree/part/serializers.py
  InvenTree/templates/js/translated/part.js
Labels: enhancement

#2709 Stock export refactor
  InvenTree/company/templates/company/detail.html
  InvenTree/company/templates/company/supplier_part.html
  InvenTree/part/api.py
  InvenTree/part/templates/part/category.html
  InvenTree/part/templates/part/detail.html
  InvenTree/part/test_views.py
  InvenTree/part/urls.py
  InvenTree/part/views.py
  InvenTree/stock/api.py
  InvenTree/stock/templates/stock/location.html
  InvenTree/stock/test_api.py
  InvenTree/stock/urls.py
  InvenTree/stock/views.py
  InvenTree/templates/js/translated/filters.js
  InvenTree/templates/js/translated/part.js
  InvenTree/templates/js/translated/stock.js
  InvenTree/templates/js/translated/tables.js
  InvenTree/templates/stock_table.html
Labels: enhancement, stock, user interface, api

#2713 Adds "Auto allocate" feature for build orders
  InvenTree/InvenTree/version.py
  InvenTree/build/api.py
  InvenTree/build/models.py
  InvenTree/build/serializers.py
  InvenTree/build/templates/build/detail.html
  InvenTree/build/test_build.py
  InvenTree/part/models.py
  InvenTree/stock/templates/stock/item_base.html
  InvenTree/templates/js/translated/build.js
Labels: enhancement, api, build

#2719 Fix render_date tag
  InvenTree/part/templatetags/inventree_extras.py
Labels: bug

#2721 Big serial fix
  InvenTree/InvenTree/models.py
  InvenTree/order/test_api.py
  InvenTree/stock/models.py
  InvenTree/stock/tests.py
  InvenTree/stock/views.py
Labels: bug, stock

#2695 [WIP] Scheduling
  InvenTree/InvenTree/static/script/chart.js
  InvenTree/InvenTree/static/script/chart.min.js
  InvenTree/InvenTree/static/script/chartjs-adapter-moment.js
  InvenTree/InvenTree/static/script/moment.js
  InvenTree/InvenTree/test_views.py
  InvenTree/InvenTree/version.py
  InvenTree/common/models.py
  InvenTree/part/api.py
  InvenTree/part/templates/part/detail.html
  InvenTree/part/templates/part/part_scheduling.html
  InvenTree/part/templates/part/part_sidebar.html
  InvenTree/templates/InvenTree/settings/user_display.html
  InvenTree/templates/base.html
  InvenTree/templates/js/translated/part.js
Labels: enhancement, stock, user interface

#2729 Bug fix for build order panel loading
  InvenTree/build/templates/build/detail.html
Labels: bug, build

#2731 Add "exclude_location" to build order auto-allocation
  InvenTree/InvenTree/version.py
  InvenTree/build/api.py
  InvenTree/build/models.py
  InvenTree/build/serializers.py
  InvenTree/templates/js/translated/build.js
Labels: enhancement, api, build

#2732 Change sidebar text to be consistent
  InvenTree/build/templates/build/sidebar.html
Labels: user interface, build

#2736 Fix behaviour when deleting a StockLocation
  InvenTree/part/models.py
  InvenTree/part/test_category.py
  InvenTree/stock/models.py
  InvenTree/stock/tests.py
Labels: bug, part, stock

#2743 [BUG] Wrong icon on the place order button
  InvenTree/order/templates/order/order_base.html
Labels: enhancement, user interface

#2745 Coverage increase
  InvenTree/InvenTree/apps.py
  InvenTree/InvenTree/ci_render_js.py
  InvenTree/InvenTree/context.py
  InvenTree/InvenTree/tasks.py
  InvenTree/InvenTree/tests.py
  InvenTree/InvenTree/version.py
  InvenTree/InvenTree/wsgi.py
  InvenTree/barcodes/plugins/inventree_barcode.py
  InvenTree/barcodes/tests.py
  InvenTree/common/admin.py
  InvenTree/common/models.py
  InvenTree/common/settings.py
  InvenTree/common/test_tasks.py
  InvenTree/common/tests.py
  InvenTree/plugin/plugin.py
  InvenTree/plugin/registry.py
  InvenTree/plugins/__init__.py
  InvenTree/stock/fixtures/stock.yaml
  InvenTree/users/admin.py
  InvenTree/users/api.py
  InvenTree/users/models.py
  setup.cfg
Labels: enhancement, CI

#2759 [BUG] ValueError on Part page
  InvenTree/part/views.py
Labels: bug, pricing

#2746 Fix set user
  InvenTree/InvenTree/apps.py
  InvenTree/plugin/helpers.py
  InvenTree/plugin/test_api.py
Labels: enhancement, plugin, CI

#2763 Fix table toolbar for stock item allocations
  InvenTree/stock/templates/stock/item.html
Labels: user interface

#2372 Notification center and refactor
  InvenTree/InvenTree/helpers.py
  InvenTree/InvenTree/static/script/inventree/inventree.js
  InvenTree/InvenTree/static/script/inventree/notification.js
  InvenTree/InvenTree/test_views.py
  InvenTree/InvenTree/urls.py
  InvenTree/InvenTree/views.py
  InvenTree/common/admin.py
  InvenTree/common/api.py
  InvenTree/common/migrations/0014_notificationmessage.py
  InvenTree/common/models.py
  InvenTree/common/notifications.py
  InvenTree/common/serializers.py
  InvenTree/common/test_notifications.py
  InvenTree/part/tasks.py
  InvenTree/part/test_part.py
  InvenTree/templates/InvenTree/notifications/history.html
  InvenTree/templates/InvenTree/notifications/inbox.html
  InvenTree/templates/InvenTree/notifications/notifications.html
  InvenTree/templates/InvenTree/notifications/sidebar.html
  InvenTree/templates/account/base.html
  InvenTree/templates/base.html
  InvenTree/templates/email/low_stock_notification.html
  InvenTree/templates/js/translated/notification.js
  InvenTree/templates/navbar.html
  InvenTree/templates/notifications.html
  InvenTree/templates/skeleton.html
  InvenTree/users/models.py
Labels: enhancement, user interface, api

#2748 Run plugin install on startup
  InvenTree/InvenTree/settings.py
  InvenTree/common/models.py
  InvenTree/plugin/apps.py
  InvenTree/plugin/registry.py
  InvenTree/plugin/serializers.py
Labels: enhancement, plugin, setup

#2766 Fix null values in build order serial number field
  InvenTree/templates/js/translated/build.js
Labels: build

#2767 Check for empty string when rendering dates
  InvenTree/part/templatetags/inventree_extras.py
Labels: bug, user interface

#2768 Label printing plugin
  InvenTree/build/templates/build/detail.html
  InvenTree/label/api.py
  InvenTree/label/templates/label/label_base.html
  InvenTree/plugin/builtin/integration/mixins.py
  InvenTree/plugin/events.py
  InvenTree/plugin/mixins/__init__.py
  InvenTree/plugin/registry.py
  InvenTree/templates/js/translated/label.js
Labels: enhancement, plugin

#2769 Add 'plugins_enabled' information to the root API endpoint
  InvenTree/InvenTree/api.py
  InvenTree/InvenTree/version.py
Labels: plugin, api

#2771 Ensure that kwargs are correctly passed through the settings chain
  InvenTree/common/models.py
  InvenTree/plugin/models.py
  InvenTree/templates/js/translated/label.js
Labels: bug, plugin

#2772 Send notification if printing fails
  InvenTree/common/notifications.py
  InvenTree/label/api.py
  InvenTree/part/tasks.py
  InvenTree/plugin/events.py
Labels: enhancement, plugin

#2773 Plugin api permissions
  InvenTree/InvenTree/version.py
  InvenTree/plugin/api.py
Labels: plugin, api

#2774 Pin setuptools version
  docker/requirements.txt
Labels: bug, docker, setup

#2775 Register notification against the plugin class, not the particular label
  InvenTree/plugin/events.py
Labels: enhancement, plugin

#2776 Supply label width and height to the label printing plugin
  InvenTree/plugin/builtin/integration/mixins.py
  InvenTree/plugin/events.py
Labels: plugin

#2780 Fix sorting for location column in part table
  InvenTree/templates/js/translated/stock.js
Labels: user interface
