Repository inventree/InvenTree, pull requests merged in 2022-04, with the labels that each got.

#2797 Available stock
  InvenTree/InvenTree/version.py
  InvenTree/part/fixtures/bom.yaml
  InvenTree/part/fixtures/part.yaml
  InvenTree/part/models.py
  InvenTree/part/serializers.py
  InvenTree/part/test_api.py
  InvenTree/part/test_bom_item.py
  InvenTree/stock/fixtures/stock.yaml
  InvenTree/stock/test_api.py
  InvenTree/stock/tests.py
Labels: part, stock, api

#2803 Barcode scanning fixes
  InvenTree/stock/templates/stock/item_base.html
  InvenTree/templates/js/translated/barcode.js
  InvenTree/templates/js/translated/stock.js
Labels: bug, barcode, api

#2808 Fix search errors
  InvenTree/templates/js/translated/api.js
Labels: bug, user interface, api

#2809 Bug fix for "inverted" logic in search results
  InvenTree/templates/js/translated/search.js
Labels: bug, user interface

#2824 re-add plugin on startup switch
  InvenTree/templates/InvenTree/settings/plugin.html
Labels: bug, user interface

#2828 Adds ability to include tests results from "installed items"
  InvenTree/InvenTree/version.py
  InvenTree/stock/api.py
  InvenTree/templates/js/translated/model_renderers.js
  InvenTree/templates/js/translated/stock.js
  InvenTree/templates/js/translated/table_filters.js
Labels: stock, user interface, api

#2841 X-forwarded-for
  InvenTree/InvenTree/settings.py
  docker/docker-compose.dev.yml
  docker/nginx.conf
  docker/nginx.dev.conf
  requirements.txt
Labels: setup

#2843 Mark sample plugins
  InvenTree/plugin/integration.py
  InvenTree/templates/InvenTree/settings/plugin.html
Labels: user interface, plugin

#2850 Docker refactor
  docker/.env
  docker/Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/init.sh
  docker/prod-config.env
  docker/production/.env
  docker/production/docker-compose.yml
  docker/production/nginx.prod.conf
  docker/sqlite-config.env
Labels: docker, setup

#2855 Security patch for django
  requirements.txt
Labels: security, setup

#2856 Adds project names for docker-compose files
  docker/.env
  docker/production/.env
Labels: docker, setup

#2858 Revert location of init.sh for Dockerfile
  docker/Dockerfile
Labels: bug, docker, setup

#2859 IPN validator fix
  InvenTree/InvenTree/settings.py
  InvenTree/part/models.py
  InvenTree/part/test_part.py
  InvenTree/stock/models.py
Labels: bug, part

#2864 Remove dead code
  InvenTree/InvenTree/middleware.py
  InvenTree/script/translate.py
Labels: enhancement

#2873 Fix for 'auto-allocate' stock to build orders
  InvenTree/build/models.py
Labels: bug, build

#2833 Add 'available_variant_stock' to BomItem serializer
  InvenTree/InvenTree/api_version.py
  InvenTree/part/fixtures/bom.yaml
  InvenTree/part/serializers.py
  InvenTree/part/test_api.py
  InvenTree/templates/js/translated/bom.js
  InvenTree/templates/js/translated/build.js
  InvenTree/templates/js/translated/part.js
Labels: enhancement, part, api, build

#2874 Prevent inactive or trackable parts from being 'auto allocated'
  InvenTree/part/models.py
Labels: enhancement, build

#2875 Re-enable the "pricing" tab
  InvenTree/InvenTree/api_version.py
  InvenTree/part/api.py
  InvenTree/part/serializers.py
  InvenTree/part/templates/part/detail.html
  InvenTree/part/templates/part/part_sidebar.html
  InvenTree/part/templates/part/prices.html
  InvenTree/part/urls.py
  InvenTree/part/views.py
  InvenTree/templates/js/translated/part.js
Labels: bug, user interface, pricing

#2876 Default batch code
  InvenTree/common/models.py
  InvenTree/stock/migrations/0074_alter_stockitem_batch.py
  InvenTree/stock/models.py
  InvenTree/templates/InvenTree/settings/stock.html
Labels: enhancement

#2877 API Mixin cleanup
  InvenTree/plugin/builtin/integration/mixins.py
Labels: enhancement, plugin

#2880 Visual improvements for build order stock allocation table
  InvenTree/templates/js/translated/bom.js
  InvenTree/templates/js/translated/build.js
Labels: enhancement, user interface, build

#2882 Simplify allocation display for part page
  InvenTree/part/templates/part/part_base.html
  InvenTree/part/templatetags/inventree_extras.py
Labels: user interface

#2861 [FR] White labeling
  InvenTree/InvenTree/settings.py
  InvenTree/common/models.py
  InvenTree/common/tests.py
  InvenTree/company/templates/company/manufacturer_part.html
  InvenTree/config_template.yaml
  InvenTree/part/templatetags/inventree_extras.py
  InvenTree/report/templates/report/inventree_po_report.html
  InvenTree/report/templates/report/inventree_so_report.html
  InvenTree/report/templates/report/inventree_test_report_base.html
  InvenTree/templates/403.html
  InvenTree/templates/404.html
  InvenTree/templates/500.html
  InvenTree/templates/503.html
  InvenTree/templates/InvenTree/settings/global.html
  InvenTree/templates/InvenTree/settings/plugin.html
  InvenTree/templates/InvenTree/settings/plugin_settings.html
  InvenTree/templates/InvenTree/settings/user_display.html
  InvenTree/templates/account/base.html
  InvenTree/templates/account/login.html
  InvenTree/templates/base.html
  InvenTree/templates/email/email.html
  InvenTree/templates/navbar.html
  InvenTree/templates/navbar_demo.html
  InvenTree/templates/skeleton.html
Labels: enhancement, setup

#2865 Implement proxy based auth
  InvenTree/InvenTree/middleware.py
  InvenTree/InvenTree/settings.py
  InvenTree/config_template.yaml
Labels: enhancement, security, setup

#2888 Prevent "null" from being displayed as part units
  InvenTree/templates/js/translated/part.js
Labels: user interface

#2886 Remove "demo mode"
  InvenTree/InvenTree/forms.py
  InvenTree/InvenTree/settings.py
  InvenTree/InvenTree/views.py
  InvenTree/config_template.yaml
  InvenTree/part/templatetags/inventree_extras.py
  InvenTree/templates/InvenTree/settings/user.html
  InvenTree/templates/account/login.html
  InvenTree/templates/base.html
  InvenTree/templates/navbar.html
  InvenTree/templates/stats.html
Labels: user interface, demo

#2892 Fix part allocation check
  InvenTree/part/models.py
Labels: bug, build

#2893 Build output table improvements
  InvenTree/build/api.py
  InvenTree/build/models.py
  InvenTree/build/serializers.py
  InvenTree/build/templates/build/detail.html
  InvenTree/part/api.py
  InvenTree/stock/api.py
  InvenTree/templates/js/translated/build.js
  InvenTree/templates/js/translated/helpers.js
  InvenTree/templates/js/translated/model_renderers.js
Labels: enhancement, user interface, api, build

#2901 Refactor BOM table to not load multi level BOMs by default
  InvenTree/templates/js/translated/bom.js
Labels: user interface
