Repository inventree/InvenTree, pull requests merged in 2023-03, with the labels that each got.

#4394 New Crowdin updates
  InvenTree/locale/cs/LC_MESSAGES/django.po
  InvenTree/locale/da/LC_MESSAGES/django.po
  InvenTree/locale/de/LC_MESSAGES/django.po
  InvenTree/locale/el/LC_MESSAGES/django.po
  InvenTree/locale/en/LC_MESSAGES/django.po
  InvenTree/locale/es/LC_MESSAGES/django.po
  InvenTree/locale/es_MX/LC_MESSAGES/django.po
  InvenTree/locale/fa/LC_MESSAGES/django.po
  InvenTree/locale/fr/LC_MESSAGES/django.po
  InvenTree/locale/he/LC_MESSAGES/django.po
  InvenTree/locale/hu/LC_MESSAGES/django.po
  InvenTree/locale/id/LC_MESSAGES/django.po
  InvenTree/locale/it/LC_MESSAGES/django.po
  InvenTree/locale/ja/LC_MESSAGES/django.po
  InvenTree/locale/ko/LC_MESSAGES/django.po
  InvenTree/locale/nl/LC_MESSAGES/django.po
  InvenTree/locale/no/LC_MESSAGES/django.po
  InvenTree/locale/pl/LC_MESSAGES/django.po
  InvenTree/locale/pt/LC_MESSAGES/django.po
  InvenTree/locale/pt_br/LC_MESSAGES/django.po
  InvenTree/locale/ru/LC_MESSAGES/django.po
  InvenTree/locale/sl/LC_MESSAGES/django.po
  InvenTree/locale/sv/LC_MESSAGES/django.po
  InvenTree/locale/th/LC_MESSAGES/django.po
  InvenTree/locale/tr/LC_MESSAGES/django.po
  InvenTree/locale/vi/LC_MESSAGES/django.po
  InvenTree/locale/zh/LC_MESSAGES/django.po
Labels: translation

#4433 Translation Fixes
  InvenTree/InvenTree/management/commands/prerender.py
  InvenTree/InvenTree/settings.py
  InvenTree/locale/zh_Hans/LC_MESSAGES/django.po
  InvenTree/part/templatetags/inventree_extras.py
Labels: bug, setup

#4435 Slow tests
  InvenTree/InvenTree/settings.py
  InvenTree/part/test_api.py
  InvenTree/part/test_category.py
  requirements-dev.in
  requirements-dev.txt
  tasks.py
Labels: CI

#4434 Fix rendering of purchase_price for exporting StockItem data
  InvenTree/stock/admin.py
Labels: stock

#4440 Settings translation text
  InvenTree/templates/InvenTree/settings/notifications.html
  InvenTree/templates/InvenTree/settings/sidebar.html
Labels: user interface

#4438 Fix parsing dict variables from env
  InvenTree/InvenTree/config.py
  InvenTree/InvenTree/settings.py
  InvenTree/InvenTree/tests.py
Labels: bug, setup

#4441 Unit test fix
  InvenTree/InvenTree/tests.py
Labels: bug, CI

#4443 Add mathematical operator tags to report templates
  InvenTree/report/templatetags/report.py
  InvenTree/report/tests.py
Labels: report

#4447 total_price for orders
  InvenTree/InvenTree/api_tester.py
  InvenTree/InvenTree/helpers.py
  InvenTree/order/api.py
  InvenTree/order/migrations/0078_auto_20230304_0721.py
  InvenTree/order/migrations/0079_auto_20230304_0904.py
  InvenTree/order/models.py
  InvenTree/order/serializers.py
  InvenTree/order/templates/order/order_base.html
  InvenTree/order/templates/order/sales_order_base.html
  InvenTree/order/test_api.py
  InvenTree/part/test_pricing.py
  InvenTree/templates/js/translated/order.js
Labels: order, api, pricing

#4454 Report template updates
  InvenTree/order/models.py
  InvenTree/report/templates/report/inventree_po_report.html
  InvenTree/report/templates/report/inventree_po_report_base.html
  InvenTree/report/templates/report/inventree_so_report.html
  InvenTree/report/templates/report/inventree_so_report_base.html
Labels: order, report

#4459 Bug fix for rendering allocations against build outputs
  InvenTree/templates/js/translated/build.js
Labels: user interface, build

#4446 New Crowdin updates
  InvenTree/locale/cs/LC_MESSAGES/django.po
  InvenTree/locale/da/LC_MESSAGES/django.po
  InvenTree/locale/de/LC_MESSAGES/django.po
  InvenTree/locale/el/LC_MESSAGES/django.po
  InvenTree/locale/es/LC_MESSAGES/django.po
  InvenTree/locale/fa/LC_MESSAGES/django.po
  InvenTree/locale/fr/LC_MESSAGES/django.po
  InvenTree/locale/he/LC_MESSAGES/django.po
  InvenTree/locale/hu/LC_MESSAGES/django.po
  InvenTree/locale/id/LC_MESSAGES/django.po
  InvenTree/locale/it/LC_MESSAGES/django.po
  InvenTree/locale/ja/LC_MESSAGES/django.po
  InvenTree/locale/ko/LC_MESSAGES/django.po
  InvenTree/locale/nl/LC_MESSAGES/django.po
  InvenTree/locale/no/LC_MESSAGES/django.po
  InvenTree/locale/pl/LC_MESSAGES/django.po
  InvenTree/locale/pt/LC_MESSAGES/django.po
  InvenTree/locale/ru/LC_MESSAGES/django.po
  InvenTree/locale/sl/LC_MESSAGES/django.po
  InvenTree/locale/sv/LC_MESSAGES/django.po
  InvenTree/locale/th/LC_MESSAGES/django.po
  InvenTree/locale/tr/LC_MESSAGES/django.po
  InvenTree/locale/vi/LC_MESSAGES/django.po
  InvenTree/locale/zh/LC_MESSAGES/django.po
Labels: translation

#4391 Extend functionality of custom validation plugins
  .gitignore
  InvenTree/InvenTree/tests.py
  InvenTree/InvenTree/validators.py
  InvenTree/order/test_api.py
  InvenTree/part/fixtures/part.yaml
  InvenTree/part/migrations/0001_initial.py
  InvenTree/part/migrations/0006_auto_20190526_1215.py
  InvenTree/part/migrations/0010_auto_20190620_2135.py
  InvenTree/part/migrations/0028_auto_20200203_1007.py
  InvenTree/part/migrations/0048_auto_20200902_1404.py
  InvenTree/part/migrations/0061_auto_20210103_2313.py
  InvenTree/part/models.py
  InvenTree/part/test_api.py
  InvenTree/part/test_bom_item.py
  InvenTree/part/test_part.py
  InvenTree/part/test_pricing.py
  InvenTree/plugin/base/integration/mixins.py
  InvenTree/plugin/samples/integration/validation_sample.py
  InvenTree/stock/fixtures/stock.yaml
  InvenTree/stock/models.py
  InvenTree/stock/test_api.py
  InvenTree/stock/tests.py
Labels: plugin, breaking

#4452 Add bulk delete for purchase order line items
  InvenTree/InvenTree/api_version.py
  InvenTree/order/api.py
  InvenTree/order/templates/order/purchase_order_detail.html
  InvenTree/order/test_api.py
  InvenTree/templates/js/translated/order.js
Labels: enhancement, order

#4462 Part table stock filtering
  InvenTree/InvenTree/api_version.py
  InvenTree/part/api.py
  InvenTree/part/serializers.py
  InvenTree/part/templates/part/part_base.html
  InvenTree/part/templatetags/inventree_extras.py
  InvenTree/templates/js/translated/part.js
Labels: part, user interface, api

#4463 Unit test speed improvements
  InvenTree/InvenTree/api_tester.py
  InvenTree/InvenTree/test_api.py
  InvenTree/InvenTree/tests.py
  InvenTree/build/test_api.py
  InvenTree/build/test_build.py
  InvenTree/common/tests.py
  InvenTree/company/test_api.py
  InvenTree/company/tests.py
  InvenTree/label/tests.py
  InvenTree/order/test_api.py
  InvenTree/order/test_sales_order.py
  InvenTree/part/models.py
  InvenTree/part/test_api.py
  InvenTree/part/test_bom_import.py
  InvenTree/part/test_category.py
  InvenTree/part/test_part.py
  InvenTree/part/test_pricing.py
  InvenTree/plugin/test_plugin.py
  InvenTree/stock/test_api.py
  InvenTree/stock/tests.py
Labels: CI

#4470 Bug fix for units text in part label
  InvenTree/templates/js/translated/part.js
Labels: bug, user interface

#4469 Report template currency updates
  InvenTree/InvenTree/helpers.py
  InvenTree/order/templates/order/order_base.html
  InvenTree/order/templates/order/sales_order_base.html
  InvenTree/part/templates/part/prices.html
  InvenTree/part/templatetags/inventree_extras.py
  InvenTree/report/templates/report/inventree_po_report_base.html
  InvenTree/report/templates/report/inventree_so_report_base.html
  InvenTree/report/templatetags/report.py
  InvenTree/stock/templates/stock/item_base.html
  InvenTree/templates/price_data.html
Labels: report

#4471 Adds "stock value" calculation to stock table
  InvenTree/part/serializers.py
  InvenTree/stock/serializers.py
  InvenTree/templates/js/translated/pricing.js
  InvenTree/templates/js/translated/stock.js
Labels: user interface, pricing

#4475 Extend part fields to fit large BOMs
  InvenTree/part/migrations/0100_alter_bomitem_reference.py
  InvenTree/part/models.py
Labels: enhancement, part, api

#4476 Fix to short Content-length header
  InvenTree/InvenTree/helpers.py
Labels: bug

#4472 Update task limiting
  InvenTree/InvenTree/tasks.py
  InvenTree/InvenTree/tests.py
  InvenTree/common/models.py
  InvenTree/templates/InvenTree/settings/global.html
Labels: bug

#4486 Update BomItem 'validated' field
  InvenTree/part/admin.py
  InvenTree/part/api.py
  InvenTree/part/migrations/0101_bomitem_validated.py
  InvenTree/part/migrations/0102_auto_20230314_0112.py
  InvenTree/part/models.py
  InvenTree/part/serializers.py
Labels: part, api

#4492 Email settings not configured - remove need for user and password
  InvenTree/InvenTree/status.py
Labels: enhancement, setup

#4478 New Crowdin updates
  InvenTree/locale/cs/LC_MESSAGES/django.po
  InvenTree/locale/da/LC_MESSAGES/django.po
  InvenTree/locale/de/LC_MESSAGES/django.po
  InvenTree/locale/el/LC_MESSAGES/django.po
  InvenTree/locale/es/LC_MESSAGES/django.po
  InvenTree/locale/fa/LC_MESSAGES/django.po
  InvenTree/locale/fr/LC_MESSAGES/django.po
  InvenTree/locale/he/LC_MESSAGES/django.po
  InvenTree/locale/hu/LC_MESSAGES/django.po
  InvenTree/locale/id/LC_MESSAGES/django.po
  InvenTree/locale/it/LC_MESSAGES/django.po
  InvenTree/locale/ja/LC_MESSAGES/django.po
  InvenTree/locale/ko/LC_MESSAGES/django.po
  InvenTree/locale/nl/LC_MESSAGES/django.po
  InvenTree/locale/no/LC_MESSAGES/django.po
  InvenTree/locale/pl/LC_MESSAGES/django.po
  InvenTree/locale/pt/LC_MESSAGES/django.po
  InvenTree/locale/ru/LC_MESSAGES/django.po
  InvenTree/locale/sl/LC_MESSAGES/django.po
  InvenTree/locale/sv/LC_MESSAGES/django.po
  InvenTree/locale/th/LC_MESSAGES/django.po
  InvenTree/locale/tr/LC_MESSAGES/django.po
  InvenTree/locale/vi/LC_MESSAGES/django.po
  InvenTree/locale/zh/LC_MESSAGES/django.po
Labels: translation

#4493 Optionally hide 'revision' field
  InvenTree/common/models.py
  InvenTree/part/templates/part/part_base.html
  InvenTree/templates/InvenTree/settings/part.html
  InvenTree/templates/js/translated/part.js
Labels: part, user interface

#4499 Bypass cache when displaying settings on "settings" page
  InvenTree/label/api.py
  InvenTree/part/templatetags/inventree_extras.py
  InvenTree/report/api.py
  InvenTree/report/tests.py
  InvenTree/templates/InvenTree/settings/setting.html
Labels: bug

#4501 Catch potential errors when rendering manufacturerpart in form
  InvenTree/templates/js/translated/model_renderers.js
Labels: bug, user interface

#4502 Fix button callback logic
  InvenTree/stock/templates/stock/item.html
Labels: bug, user interface

#4503 Report template caching
  InvenTree/label/api.py
  InvenTree/report/api.py
Labels: bug, report

#4505 Search refactor
  InvenTree/InvenTree/api.py
  InvenTree/InvenTree/api_version.py
  InvenTree/InvenTree/test_api.py
  InvenTree/InvenTree/urls.py
  InvenTree/templates/js/translated/forms.js
  InvenTree/templates/js/translated/helpers.js
  InvenTree/templates/js/translated/model_renderers.js
  InvenTree/templates/js/translated/part.js
  InvenTree/templates/js/translated/search.js
  InvenTree/templates/search.html
  InvenTree/users/models.py
Labels: enhancement, api

#4514 Fix call to renderPart
  InvenTree/templates/js/translated/company.js
Labels: bug, user interface

#4518 Report: Catch TemplateDoesNotExist error
  InvenTree/report/api.py
Labels: report

#4410 Add Metadata to further models
  .pre-commit-config.yaml
  InvenTree/InvenTree/api_version.py
  InvenTree/build/api.py
  InvenTree/build/migrations/0039_auto_20230317_0816.py
  InvenTree/build/models.py
  InvenTree/build/test_build.py
  InvenTree/company/api.py
  InvenTree/company/migrations/0055_auto_20230317_0816.py
  InvenTree/company/models.py
  InvenTree/company/tests.py
  InvenTree/label/api.py
  InvenTree/label/migrations/0009_auto_20230317_0816.py
  InvenTree/label/models.py
  InvenTree/label/tests.py
  InvenTree/order/api.py
  InvenTree/order/fixtures/order.yaml
  InvenTree/order/migrations/0080_auto_20230317_0816.py
  InvenTree/order/models.py
  InvenTree/order/test_sales_order.py
  InvenTree/order/tests.py
  InvenTree/part/admin.py
  InvenTree/part/api.py
  InvenTree/part/migrations/0103_auto_20230317_0816.py
  InvenTree/part/models.py
  InvenTree/part/test_bom_item.py
  InvenTree/part/test_param.py
  InvenTree/part/test_part.py
  InvenTree/report/api.py
  InvenTree/report/migrations/0017_auto_20230317_0816.py
  InvenTree/report/models.py
  InvenTree/report/tests.py
  InvenTree/stock/tests.py
Labels: enhancement, plugin

#4522 Improvements for API tester
  InvenTree/InvenTree/api_tester.py
Labels: CI

#4524 Add result counter to quick search bar
  InvenTree/templates/js/translated/search.js
Labels: user interface

#4527 Decimal rendering - support "minimum places" setting
  InvenTree/InvenTree/helpers.py
  InvenTree/common/models.py
  InvenTree/templates/InvenTree/settings/pricing.html
  InvenTree/templates/js/translated/pricing.js
Labels: pricing

#4528 Adds footer formatter to stock table
  InvenTree/templates/js/translated/stock.js
Labels: stock, user interface

#4537 Only allow pricing update when creating a new PurchaseOrderLineItem
  InvenTree/templates/js/translated/purchase_order.js
Labels: bug, user interface

#4538 Clear allocations when returning a stock item against a return order
  InvenTree/order/models.py
Labels: order

#4540 Bug fix for BOM table
  InvenTree/templates/js/translated/bom.js
Labels: bug, user interface

#4541 Stock history fix
  InvenTree/stock/migrations/0096_auto_20230330_1121.py
  InvenTree/stock/models.py
Labels: bug, order, stock

#4542 Sales order status update
  InvenTree/InvenTree/status_codes.py
  InvenTree/order/api.py
  InvenTree/order/migrations/0087_alter_salesorder_status.py
  InvenTree/order/models.py
  InvenTree/order/serializers.py
  InvenTree/order/templates/order/return_order_base.html
  InvenTree/order/templates/order/sales_order_base.html
  InvenTree/order/templates/order/sales_order_detail.html
  InvenTree/templates/js/translated/model_renderers.js
  InvenTree/templates/js/translated/sales_order.js
Labels: order

#4545 Metadata API refactor
  InvenTree/InvenTree/api.py
  InvenTree/build/api.py
  InvenTree/company/api.py
  InvenTree/label/api.py
  InvenTree/order/api.py
  InvenTree/part/api.py
  InvenTree/report/api.py
  InvenTree/stock/api.py
Labels: api

#4544 Change SalesOrder.can_cancel()
  InvenTree/order/models.py
Labels: order
