Repository inventree/InvenTree, pull requests merged in 2025-03, with the labels that each got.

#9210 Disable pagination for ConfigList class
  src/backend/InvenTree/common/api.py
Labels: bug, api

#9212 [API] Auth login error
  src/backend/InvenTree/users/api.py
Labels: bug

#9220 [UI] Table Update
  src/frontend/src/hooks/UseTable.tsx
Labels: backport, User Interface, backport-to-0.17.x

#9222 Remove quick actions
  src/frontend/src/components/items/Placeholder.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/Index.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Labels: refactor, User Interface

#9116 feat(backend): Add user profile
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/metadata.py
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/importer/serializers.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/plugin/base/barcodes/serializers.py
  src/backend/InvenTree/report/serializers.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/users/api.py
  src/backend/InvenTree/users/migrations/0014_userprofile.py
  src/backend/InvenTree/users/models.py
  src/backend/InvenTree/users/serializers.py
  src/backend/InvenTree/users/test_migrations.py
  src/backend/InvenTree/users/tests.py
  src/frontend/src/components/details/Details.tsx
  src/frontend/src/components/details/DetailsImage.tsx
  src/frontend/src/components/nav/NavigationDrawer.tsx
  src/frontend/src/components/render/ModelType.tsx
  src/frontend/src/contexts/ThemeContext.tsx
  src/frontend/src/enums/ApiEndpoints.tsx
  src/frontend/src/functions/auth.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/AccountDetailPanel.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/UserThemePanel.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/pages/core/CoreIndex.tsx
  src/frontend/src/pages/core/GroupDetail.tsx
  src/frontend/src/pages/core/UserDetail.tsx
  src/frontend/src/router.tsx
  src/frontend/src/states/LocalState.tsx
  src/frontend/src/states/UserState.tsx
  src/frontend/src/states/states.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/company/ContactTable.tsx
  src/frontend/src/tables/core/UserTable.tsx
  src/frontend/src/tables/settings/GroupTable.tsx
  src/frontend/tests/pages/pui_core.spec.ts
  src/frontend/tests/pui_login.spec.ts
  src/frontend/tests/pui_settings.spec.ts
Labels: enhancement, api, User Interface, full-run

#9230 Fix font size in location column
  src/frontend/src/tables/ColumnRenderers.tsx
Labels: bug, backport, User Interface, backport-to-0.17.x

#9199 [WIP] Background reports
  .github/workflows/qc_checks.yaml
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/plugin/base/label/mixins.py
  src/backend/InvenTree/plugin/builtin/labels/inventree_machine.py
  src/backend/InvenTree/plugin/builtin/labels/label_sheet.py
  src/backend/InvenTree/report/api.py
  src/backend/InvenTree/report/apps.py
  src/backend/InvenTree/report/models.py
  src/backend/InvenTree/report/tasks.py
  src/frontend/src/components/buttons/PrintingActions.tsx
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/hooks/UseForm.tsx
  src/frontend/src/pages/company/SupplierPartDetail.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/tests/pui_printing.spec.ts
Labels: enhancement, report, api, User Interface

#9238 Tracking api fix
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/test_api.py
Labels: bug, api, backport, backport-to-0.17.x

#9239 Ignore sentry for TemplateSyntaxError
  src/backend/InvenTree/InvenTree/sentry.py
Labels: backport, refactor, backport-to-0.17.x

#9249 Fix for link length migration
  src/backend/InvenTree/build/migrations/0055_auto_20250221_1230.py
  src/backend/InvenTree/common/migrations/0035_auto_20250221_1513.py
Labels: bug, migration

#9253 Add error handling to API queries
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
Labels: api, refactor, User Interface

#9290 Dynamic filters
  src/frontend/src/hooks/UseFilter.tsx
  src/frontend/src/tables/Filter.tsx
  src/frontend/src/tables/FilterSelectDrawer.tsx
  src/frontend/src/tables/build/BuildOrderTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderTable.tsx
  src/frontend/src/tables/sales/ReturnOrderTable.tsx
  src/frontend/src/tables/sales/SalesOrderTable.tsx
  src/frontend/src/tables/settings/BarcodeScanHistoryTable.tsx
  src/frontend/src/tables/settings/ImportSessionTable.tsx
  src/frontend/src/tables/stock/StockLocationTable.tsx
  src/frontend/src/tables/stock/StockTrackingTable.tsx
Labels: refactor, User Interface

#9295 Fix asset file serving
  src/backend/InvenTree/web/tests.py
  src/backend/InvenTree/web/urls.py
  src/frontend/vite.config.ts
Labels: bug, User Interface

#9298 [Backport] Call machine func (#9191)
  src/backend/InvenTree/machine/machine_type.py
  src/backend/InvenTree/machine/registry.py
  src/backend/InvenTree/plugin/builtin/labels/inventree_machine.py
  src/backend/InvenTree/plugin/machine/__init__.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/samples/integration/test_scheduled_task.py
  src/frontend/src/tables/machine/MachineListTable.tsx
Labels: enhancement, plugin

#9304 Prevent sentry reporting in test mode
  src/backend/InvenTree/InvenTree/sentry.py
  src/backend/InvenTree/InvenTree/settings.py
Labels: CI, setup, backport, backport-to-0.17.x

#9236 Check for schema generation state when removing fields
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/ready.py
  src/backend/InvenTree/InvenTree/schema.py
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/users/serializers.py
Labels: enhancement, api, documentation

#9309 Fix formatting for docs/requirements.txt
  docs/requirements.txt
Labels: dependency

#9307 Provide mocked URL to dummy print requst
  .github/workflows/qc_checks.yaml
  src/backend/InvenTree/report/models.py
Labels: bug, report

#9308 Fix currency rendering
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderTable.tsx
  src/frontend/src/tables/sales/ReturnOrderTable.tsx
  src/frontend/src/tables/sales/SalesOrderTable.tsx
Labels: bug, order, pricing, backport, User Interface, backport-to-0.17.x

#9305 Further reduce log output for weasyprint
  src/backend/InvenTree/report/apps.py
Labels: dependency

#9217 refactor(frontend): Do not request token in frontend
  src/frontend/src/App.tsx
  src/frontend/src/functions/auth.tsx
  src/frontend/src/states/UserState.tsx
Labels: security, refactor

#9311 Docker Compose Fix
  .github/workflows/docker.yaml
  contrib/container/docker-compose.yml
Labels: bug, CI, docker, setup

#8933 [UI] Reimplement calendar views
  docs/docs/assets/images/build/build_calendar.png
  docs/docs/assets/images/build/build_display.png
  docs/docs/assets/images/build/build_list.png
  docs/docs/assets/images/order/po_calendar.png
  docs/docs/assets/images/order/po_display.png
  docs/docs/assets/images/order/po_list.png
  docs/docs/assets/images/order/ro_calendar.png
  docs/docs/assets/images/order/ro_display.png
  docs/docs/assets/images/order/ro_list.png
  docs/docs/assets/images/order/so_calendar.png
  docs/docs/assets/images/order/so_display.png
  docs/docs/assets/images/order/so_list.png
  docs/docs/build/build.md
  docs/docs/order/purchase_order.md
  docs/docs/order/return_order.md
  docs/docs/order/sales_order.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/migrations/0109_salesorder_issue_date.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/frontend/package.json
  src/frontend/src/components/buttons/SegmentedIconControl.tsx
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/components/calendar/OrderCalendar.tsx
  src/frontend/src/components/items/ActionDropdown.tsx
  src/frontend/src/components/panels/Panel.tsx
  src/frontend/src/components/panels/PanelGroup.tsx
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/hooks/UseCalendar.tsx
  src/frontend/src/hooks/UseFilterSet.tsx
  src/frontend/src/hooks/UseTable.tsx
  src/frontend/src/pages/build/BuildDetail.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
  src/frontend/src/pages/part/PartSchedulingDetail.tsx
  src/frontend/src/pages/part/PartStocktakeDetail.tsx
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
  src/frontend/src/pages/sales/SalesOrderShipmentDetail.tsx
  src/frontend/src/tables/DownloadAction.tsx
  src/frontend/src/tables/Filter.tsx
  src/frontend/src/tables/FilterSelectDrawer.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/InvenTreeTableHeader.tsx
  src/frontend/src/tables/Search.tsx
  src/frontend/src/tables/build/BuildOrderTable.tsx
  src/frontend/src/tables/sales/SalesOrderShipmentTable.tsx
  src/frontend/tests/helpers.ts
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_purchase_order.spec.ts
  src/frontend/tests/pui_printing.spec.ts
  src/frontend/yarn.lock
Labels: enhancement, order, build, refactor, User Interface

#9316 [refactor] Remove django-weasyprint entirely
  docs/docs/extend/plugins/label.md
  src/backend/InvenTree/machine/machine_types/label_printer.py
  src/backend/InvenTree/plugin/base/label/mixins.py
  src/backend/InvenTree/plugin/builtin/labels/inventree_label.py
  src/backend/InvenTree/report/models.py
  src/backend/requirements.in
  src/backend/requirements.txt
Labels: bug, enhancement, report, dependency, refactor

#9122 feat(frontend): show if redirecting inline
  src/frontend/src/pages/Auth/Login.tsx
Labels: User Interface

#9313 Bulk update mixin
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/metadata.py
  src/backend/InvenTree/InvenTree/test_api.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/hooks/UseForm.tsx
  src/frontend/src/pages/Notifications.tsx
  src/frontend/src/tables/InvenTreeTableHeader.tsx
  src/frontend/src/tables/notifications/NotificationTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Labels: enhancement, api, breaking, refactor, User Interface

#9321 [Bug] Import fix (#9008)
  src/backend/InvenTree/InvenTree/exceptions.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/importer/models.py
  src/backend/InvenTree/importer/operations.py
  src/backend/InvenTree/importer/serializers.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/report/migrations/0026_auto_20240422_1301.py
  src/backend/InvenTree/stock/serializers.py
Labels: bug, import / export

#9322 Tweak for data import (#9010)
  src/backend/InvenTree/importer/models.py
Labels: bug, import / export

#9320 [UI] Bulk edit actions
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/stock/api.py
  src/frontend/playwright.config.ts
  src/frontend/src/pages/sales/SalesOrderShipmentDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
  src/frontend/src/tables/part/PartCategoryTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
  src/frontend/src/tables/stock/StockLocationTable.tsx
Labels: enhancement, order, api, User Interface

#9330 chore: bump setup tools
  .pre-commit-config.yaml
Labels: dependencies

#9329 chore: bump container deps
  contrib/container/requirements.txt
Labels: security, dependencies

#9331 fix api version
  pyproject.toml
  src/backend/InvenTree/InvenTree/api_version.py
Labels: bug

#9332 [UI] Fix StylishText
  src/frontend/src/components/items/StylishText.tsx
Labels: refactor, User Interface

#9336 [UI] Stylish text tweak
  src/frontend/src/components/items/StylishText.tsx
  src/frontend/src/components/nav/DetailDrawer.tsx
  src/frontend/src/main.css.ts
  src/frontend/src/pages/Index/Settings/AccountSettings/AccountDetailPanel.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/UserThemePanel.tsx
  src/frontend/src/tables/machine/MachineListTable.tsx
  src/frontend/src/tables/machine/MachineTypeTable.tsx
  src/frontend/src/tables/settings/GroupTable.tsx
  src/frontend/src/tables/settings/UserTable.tsx
Labels: refactor, User Interface

#9338 [Bug] Fix for activating plugins via UI
  src/frontend/src/tables/plugin/PluginListTable.tsx
  src/frontend/tests/pui_plugins.spec.ts
Labels: bug, plugin, backport, User Interface, backport-to-0.17.x

#9339 [Feature] Mandatory Plugins
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/plugin/api.py
  src/backend/InvenTree/plugin/builtin/suppliers/test_supplier_barcodes.py
  src/backend/InvenTree/plugin/models.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/serializers.py
  src/frontend/src/tables/plugin/PluginListTable.tsx
Labels: enhancement, plugin, api, feature, User Interface

#9346 [UI] Icons in navbar
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/defaults/links.tsx
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
Labels: User Interface

#9348 feat(frontend): Improve comms around authentication
  src/frontend/src/functions/auth.tsx
  src/frontend/src/pages/Auth/Login.tsx
  src/frontend/src/pages/Auth/MFA.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/tests/pui_settings.spec.ts
Labels: User Interface

#9359 Fix req file
  .github/workflows/qc_checks.yaml
  docs/requirements.txt
Labels: CI, dependency

#9364 Add docs for rendering markdown content
  docs/docs/report/helpers.md
Labels: report, dependency, documentation

#9367 [UI] Edit fix
  src/frontend/src/pages/part/CategoryDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
Labels: bug, backport, User Interface, backport-to-0.17.x

#9365 [UI] Alerts
  src/frontend/src/components/buttons/ScanButton.tsx
  src/frontend/src/components/buttons/SpotlightButton.tsx
  src/frontend/src/components/nav/Header.tsx
Labels: enhancement, User Interface

#9370 Bug fix for activating plugins via UI (#9338)
  src/frontend/src/tables/plugin/PluginListTable.tsx
Labels: bug, plugin

#9371 Add upload progress to attachment table
  src/frontend/src/tables/general/AttachmentTable.tsx
Labels: enhancement, User Interface

#9275 feat: Add email notification when a part is changed
  src/backend/InvenTree/common/notifications.py
  src/backend/InvenTree/plugin/builtin/integration/part_notifications.py
  src/backend/InvenTree/templates/email/part_event_notification.html
  src/frontend/src/components/buttons/StarredToggleButton.tsx
  src/frontend/src/pages/part/CategoryDetail.tsx
  src/frontend/src/pages/part/PartDetail.tsx
Labels: enhancement, plugin

#9360 Add docs for governance and security
  docs/docs/concepts/threat_model.md
  docs/docs/project/governance.md
  docs/docs/project/security.md
  docs/docs/security.md
  docs/docs/start/bare_prod.md
  docs/docs/start/docker_install.md
  docs/docs/start/intro.md
  docs/mkdocs.yml
Labels: documentation

#9376 fix(docs): correct list format
  docs/docs/concepts/threat_model.md
  docs/docs/security.md
Labels: documentation

#9380 Use dayjs in DateField
  src/frontend/src/components/forms/fields/DateField.tsx
Labels: bug, backport, User Interface, backport-to-0.17.x

#9384 chore: improve ci security
  .devcontainer/Dockerfile
  .devcontainer/postCreateCommand.sh
  .github/dependabot.yml
  .github/workflows/docker.yaml
  .github/workflows/qc_checks.yaml
  contrib/container/Dockerfile
Labels: CI, dependency, docker, security

#9388 Dayjs updates
  src/frontend/src/pages/Index/Scan.tsx
Labels: backport, User Interface, backport-to-0.17.x

#9377 [UI] Allocation content
  src/frontend/src/components/render/Part.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
Labels: enhancement, order, User Interface

#9383 [Docker] Update node version
  .devcontainer/Dockerfile
  contrib/container/Dockerfile
  src/frontend/package.json
  src/frontend/playwright.config.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pui_plugins.spec.ts
  src/frontend/yarn.lock
Labels: dependency, docker, setup

#9390 Add context variables for sales order to the docs
  docs/docs/report/context_variables.md
Labels: order, report, documentation

#9396 Improve custom maintenance mode backend
  src/backend/InvenTree/InvenTree/backends.py
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/stock/test_api.py
Labels: enhancement, backport, backport-to-0.17.x

#9407 chore(backend): bump drf
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/requirements.in
  src/backend/requirements.txt
Labels: dependencies

#9395 [CI] Playwright improvements
  .github/workflows/qc_checks.yaml
  src/backend/InvenTree/InvenTree/config.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/status.py
  src/frontend/package.json
  src/frontend/playwright.config.ts
  src/frontend/playwright/.gitignore
  src/frontend/playwright/global-setup.ts
  src/frontend/src/App.tsx
  src/frontend/src/components/buttons/EditButton.tsx
  src/frontend/src/components/forms/InstanceOptions.tsx
  src/frontend/src/components/images/ApiImage.tsx
  src/frontend/src/functions/auth.tsx
  src/frontend/src/functions/urls.tsx
  src/frontend/src/main.tsx
  src/frontend/src/states/LocalState.tsx
  src/frontend/tests/helpers.ts
  src/frontend/tests/login.ts
  src/frontend/tests/modals.spec.ts
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_company.spec.ts
  src/frontend/tests/pages/pui_core.spec.ts
  src/frontend/tests/pages/pui_dashboard.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pages/pui_purchase_order.spec.ts
  src/frontend/tests/pages/pui_sales_order.spec.ts
  src/frontend/tests/pages/pui_scan.spec.ts
  src/frontend/tests/pages/pui_stock.spec.ts
  src/frontend/tests/pui_exporting.spec.ts
  src/frontend/tests/pui_forms.spec.ts
  src/frontend/tests/pui_general.spec.ts
  src/frontend/tests/pui_login.spec.ts
  src/frontend/tests/pui_modals.spec.ts
  src/frontend/tests/pui_plugins.spec.ts
  src/frontend/tests/pui_printing.spec.ts
  src/frontend/tests/pui_settings.spec.ts
  src/frontend/tests/pui_tables.spec.ts
  src/frontend/tests/settings/selectionList.spec.ts
  src/frontend/vite.config.ts
  src/frontend/yarn.lock
Labels: CI, refactor, User Interface

#9414 Docker updates
  contrib/container/.env
Labels: docker, setup, documentation, backport, backport-to-0.17.x

#9415 fixed small bug in doc report sample templates
  docs/docs/report/samples.md
Labels: report, documentation, backport, backport-to-0.17.x

#9389 [UI] Improve order parts wizard
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
  src/frontend/tests/pages/pui_purchase_order.spec.ts
  src/frontend/tests/pui_forms.spec.ts
Labels: bug, order, backport, User Interface, backport-to-0.17.x

#9422 Docs tweak
  docs/docs/report/helpers.md
Labels: enhancement, report, documentation, backport, backport-to-0.17.x

#9413 Download params
  docs/.gitignore
  src/backend/InvenTree/data_exporter/mixins.py
  src/backend/InvenTree/data_exporter/serializers.py
  src/backend/InvenTree/plugin/base/integration/DataExport.py
  src/backend/InvenTree/plugin/builtin/exporter/part_parameter_exporter.py
  src/backend/InvenTree/plugin/registry.py
  src/frontend/src/tables/InvenTreeTableHeader.tsx
  src/frontend/src/tables/part/ParametricPartTable.tsx
Labels: enhancement, plugin, import / export

#9420 Add request body to schema for bulk delete operations, deconflict list
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/schema.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/common/tests.py
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/stock/test_api.py
Labels: api, breaking
