Repository inventree/InvenTree, pull requests merged in 2025-07, with the labels that each got.

#9914 Fix for URL redirect
  src/backend/InvenTree/InvenTree/urls.py
Labels: bug

#9915 Add part info to "Build Order Allocations" table
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/part/PartBuildAllocationsTable.tsx
Labels: build, User Interface

#9916 Load calendar on first render
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/hooks/UseCalendar.tsx
Labels: bug, User Interface

#9922 Replace the url with a clickable icon for link columns in tables
  src/frontend/src/tables/ColumnRenderers.tsx
Labels: User Interface

#9925 UI improvement for column selection in tables
  src/frontend/src/tables/ColumnSelect.tsx
Labels: User Interface

#9910 fix(backend) : use correct settings patching
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/test_auth.py
  src/backend/InvenTree/InvenTree/test_middleware.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/plugin/samples/event/test_event_sample.py
  src/backend/InvenTree/plugin/samples/event/test_filtered_event_sample.py
  src/backend/InvenTree/plugin/test_api.py
  src/backend/InvenTree/plugin/test_plugin.py
Labels: bug, CI

#9935 [UI] Sales Order tweak
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
Labels: bug, order, User Interface

#9943 Additional filters for incomplete build outputs
  src/frontend/src/tables/Filter.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Labels: build, User Interface

#9946 Bug fix for build output table
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/hooks/UseTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
Labels: bug, build, User Interface

#9945 [UI] Fix table column ordering
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
Labels: bug, User Interface

#9940 [UI] Notification Drawer
  src/frontend/src/components/nav/NotificationDrawer.tsx
Labels: User Interface

#9947 [UI Order detail tweaks
  src/frontend/src/pages/build/BuildDetail.tsx
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
Labels: User Interface

#9944 Allocation search by IPN
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/part/api.py
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
Labels: order, api, User Interface

#9949 Fix for table filtering logic
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/InvenTreeTableHeader.tsx
  src/frontend/tests/pui_plugins.spec.ts
Labels: bug, User Interface

#9939 [UI] Location filter
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/order/api.py
  src/frontend/src/tables/Filter.tsx
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Labels: User Interface

#9952 [bug] Allocated items print fix
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/InvenTreeTableHeader.tsx
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
Labels: bug, User Interface

#9953 Improved login screens
  src/frontend/src/pages/Auth/Layout.tsx
Labels: User Interface

#9948 Logic fix for LOCK_SETTING
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/order/tests.py
  src/backend/InvenTree/part/test_pricing.py
Labels: bug, order

#9730 [feature] Disable pricing task
  docs/docs/part/pricing.md
  docs/docs/settings/global.md
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/tasks.py
  src/frontend/src/pages/Index/Settings/AdminCenter/CurrencyManagementPanel.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Labels: enhancement, pricing

#9934 [bug] Logic fix for plugins
  src/backend/InvenTree/InvenTree/exchange.py
  src/backend/InvenTree/data_exporter/tasks.py
  src/backend/InvenTree/plugin/base/event/events.py
  src/backend/InvenTree/plugin/base/label/label.py
  src/backend/InvenTree/plugin/base/label/test_label_mixin.py
  src/backend/InvenTree/plugin/base/locate/test_locate.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/samples/event/test_event_sample.py
  src/backend/InvenTree/plugin/samples/event/test_filtered_event_sample.py
  src/backend/InvenTree/plugin/samples/icons/test_icon_sample.py
  src/backend/InvenTree/plugin/samples/integration/test_sample.py
  src/backend/InvenTree/plugin/samples/integration/test_scheduled_task.py
  src/backend/InvenTree/plugin/samples/locate/test_locate_sample.py
  src/backend/InvenTree/plugin/samples/mail/test_mail_sample.py
  src/backend/InvenTree/plugin/test_plugin.py
  src/backend/InvenTree/report/tasks.py
  src/backend/InvenTree/report/tests.py
Labels: bug, plugin, breaking, backport, backport-to-0.17.x

#9962 [bug] Data import fix
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/importer/api.py
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/tests/fixtures/bom_data.csv
  src/frontend/tests/fixtures/po_data.csv
  src/frontend/tests/login.ts
  src/frontend/tests/pui_importing.spec.ts
Labels: bug, api, import / export, User Interface

#9967 Fix useEffect dependencies
  src/frontend/src/forms/BomForms.tsx
  src/frontend/src/tables/bom/BomTable.tsx
Labels: bug, User Interface

#9968 StockItem Serialization Improvements
  src/backend/InvenTree/stock/models.py
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/hooks/UseGenerator.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
  src/frontend/tests/pages/pui_stock.spec.ts
Labels: stock, build, User Interface

#9972 Allow sub-builds to be created for pending builds
  src/frontend/src/tables/build/BuildLineTable.tsx
Labels: build, User Interface

#9983 Simplify API call mixin
  src/backend/InvenTree/plugin/base/integration/test_mixins.py
Labels: CI

#9985 Tweak error message
  src/backend/InvenTree/build/models.py
Labels: bug, build

#9982 fix error if missing license info
  src/backend/InvenTree/plugin/plugin.py
Labels: bug

#9989 BOM filter by category
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/part/api.py
  src/frontend/src/tables/Filter.tsx
  src/frontend/src/tables/bom/BomTable.tsx
  src/frontend/tests/pages/pui_build.spec.ts
Labels: api, User Interface

#10000 Plugin source URLs
  src/frontend/src/components/plugins/PluginSource.tsx
  src/frontend/src/components/plugins/RemoteComponent.tsx
Labels: plugin

#10007 Fix for <RemoteComponent>
  src/frontend/src/components/plugins/RemoteComponent.tsx
Labels: bug, plugin, User Interface

#10008 UI changelog
  src/frontend/CHANGELOG.md
Labels: plugin, User Interface

#10010 Reduce plugin component reloads
  src/frontend/src/components/plugins/RemoteComponent.tsx
Labels: bug, plugin, User Interface

#9932 feat(backend): improve comms around registration
  docs/docs/settings/error_codes.md
  src/backend/InvenTree/InvenTree/auth_overrides.py
  src/backend/InvenTree/InvenTree/helpers_email.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/test_auth.py
  src/frontend/src/components/forms/AuthenticationForm.tsx
Labels: setup

#9673 feat: add tax_id field to Company model and related forms
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/company/migrations/0075_company_tax_id.py
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/importer/tests.py
  src/frontend/src/forms/CompanyForms.tsx
  src/frontend/src/functions/icons.tsx
  src/frontend/src/pages/company/CompanyDetail.tsx
Labels: enhancement, api, User Interface

#10024 [UI] Sales order fixes
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
Labels: order, User Interface

#10023 PartParameter updates
  docs/docs/assets/images/part/create_part_parameter.png
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/importer/serializers.py
  src/backend/InvenTree/part/admin.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/migrations/0136_partparameter_note_partparameter_updated_and_more.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/test_param.py
  src/frontend/src/forms/PartForms.tsx
  src/frontend/src/tables/part/PartParameterTable.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Labels: part, api, migration, User Interface

#10030 [UI] Tweak panel behaviour
  src/frontend/src/components/panels/PanelGroup.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/Index.tsx
Labels: plugin, User Interface

#10036 [UI] Part requirements
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/ready.py
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/templates/email/build_order_required_stock.html
  src/frontend/src/components/buttons/StarredToggleButton.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/tables/Filter.tsx
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
  src/frontend/src/tables/build/BuildOrderTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/part/PartBuildAllocationsTable.tsx
  src/frontend/src/tables/part/PartParameterTable.tsx
  src/frontend/src/tables/part/PartPurchaseOrdersTable.tsx
  src/frontend/src/tables/part/PartSalesAllocationsTable.tsx
  src/frontend/src/tables/sales/ReturnOrderTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
  src/frontend/src/tables/sales/SalesOrderTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
  src/frontend/tests/pages/pui_part.spec.ts
  tasks.py
Labels: enhancement, order, api, build, User Interface

#10041 Fix rendering glitch in tables
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderTable.tsx
Labels: bug, User Interface

#10038 [UI] Various fixes
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/hooks/UseModal.tsx
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/tables/FilterSelectDrawer.tsx
Labels: User Interface

#10042 BOM Enhancements
  docs/docs/manufacturing/bom.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/InvenTree/validators.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/filters.py
  src/backend/InvenTree/part/migrations/0001_initial.py
  src/backend/InvenTree/part/migrations/0064_auto_20210404_2016.py
  src/backend/InvenTree/part/migrations/0137_bomitem_attrition_bomitem_rounding_multiple_and_more.py
  src/backend/InvenTree/part/migrations/0138_auto_20250718_2342.py
  src/backend/InvenTree/part/migrations/0139_remove_bomitem_overage.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/part/test_bom_item.py
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/forms/BomForms.tsx
  src/frontend/src/tables/bom/BomTable.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_stock.spec.ts
Labels: enhancement, api, build, breaking, migration, User Interface, full-run

#10050 fix(frontend): bump @tabler/icons-react to fix occaisonal reload issues
  src/frontend/yarn.lock
Labels: dependencies

#10057 Plugin sequence fix
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/common/currency.py
  src/backend/InvenTree/plugin/apps.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/urls.py
Labels: bug, plugin, backport, full-run, backport-to-0.17.x

#10063 Custom event when bulk-creating items
  src/backend/InvenTree/stock/events.py
  src/backend/InvenTree/stock/models.py
Labels: plugin

#10070 [plugin] Library updates
  src/frontend/CHANGELOG.md
  src/frontend/lib/components/AddItemButton.tsx
  src/frontend/lib/functions/Plugins.tsx
  src/frontend/lib/index.ts
  src/frontend/lib/types/Plugins.tsx
  src/frontend/package.json
  src/frontend/src/components/forms/fields/TableField.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
  src/frontend/src/main.tsx
  src/frontend/src/pages/part/PartStocktakeDetail.tsx
  src/frontend/src/pages/part/pricing/PriceBreakPanel.tsx
  src/frontend/src/tables/bom/BomTable.tsx
  src/frontend/src/tables/build/BuildOrderTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/company/AddressTable.tsx
  src/frontend/src/tables/company/CompanyTable.tsx
  src/frontend/src/tables/company/ContactTable.tsx
  src/frontend/src/tables/general/ExtraLineItemTable.tsx
  src/frontend/src/tables/machine/MachineListTable.tsx
  src/frontend/src/tables/part/PartCategoryTable.tsx
  src/frontend/src/tables/part/PartCategoryTemplateTable.tsx
  src/frontend/src/tables/part/PartParameterTable.tsx
  src/frontend/src/tables/part/PartParameterTemplateTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/src/tables/part/PartTestTemplateTable.tsx
  src/frontend/src/tables/part/RelatedPartTable.tsx
  src/frontend/src/tables/part/SelectionListTable.tsx
  src/frontend/src/tables/purchasing/ManufacturerPartParameterTable.tsx
  src/frontend/src/tables/purchasing/ManufacturerPartTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
  src/frontend/src/tables/purchasing/SupplierPriceBreakTable.tsx
  src/frontend/src/tables/sales/ReturnOrderLineItemTable.tsx
  src/frontend/src/tables/sales/ReturnOrderTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
  src/frontend/src/tables/sales/SalesOrderShipmentTable.tsx
  src/frontend/src/tables/sales/SalesOrderTable.tsx
  src/frontend/src/tables/settings/ApiTokenTable.tsx
  src/frontend/src/tables/settings/CustomStateTable.tsx
  src/frontend/src/tables/settings/CustomUnitsTable.tsx
  src/frontend/src/tables/settings/GroupTable.tsx
  src/frontend/src/tables/settings/ImportSessionTable.tsx
  src/frontend/src/tables/settings/ProjectCodeTable.tsx
  src/frontend/src/tables/settings/StocktakeReportTable.tsx
  src/frontend/src/tables/settings/TemplateTable.tsx
  src/frontend/src/tables/settings/UserTable.tsx
  src/frontend/src/tables/stock/InstalledItemsTable.tsx
  src/frontend/src/tables/stock/LocationTypesTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
  src/frontend/src/tables/stock/StockLocationTable.tsx
  src/frontend/vite.lib.config.ts
  src/frontend/yarn.lock
Labels: enhancement, plugin, User Interface

#10080 Adjust form padding
  src/frontend/src/components/forms/ApiForm.tsx
Labels: User Interface

#9735 [Refactor] Notification plugins
  docs/docs/plugins/builtin/email_notification.md
  docs/docs/plugins/builtin/index.md
  docs/docs/plugins/builtin/notifications.md
  docs/docs/plugins/builtin/slack_notification.md
  docs/docs/plugins/builtin/ui_notification.md
  docs/docs/plugins/mixins/notification.md
  docs/docs/plugins/mixins/settings.md
  docs/mkdocs.yml
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/InvenTree/helpers_email.py
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/InvenTree/permissions.py
  src/backend/InvenTree/InvenTree/tasks.py
  src/backend/InvenTree/InvenTree/templatetags/inventree_extras.py
  src/backend/InvenTree/InvenTree/test_api.py
  src/backend/InvenTree/InvenTree/test_tasks.py
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/build/events.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/tasks.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/notifications.py
  src/backend/InvenTree/common/test_notifications.py
  src/backend/InvenTree/common/tests.py
  src/backend/InvenTree/generic/states/test_transition.py
  src/backend/InvenTree/machine/test_api.py
  src/backend/InvenTree/machine/tests.py
  src/backend/InvenTree/part/test_part.py
  src/backend/InvenTree/plugin/admin.py
  src/backend/InvenTree/plugin/api.py
  src/backend/InvenTree/plugin/apps.py
  src/backend/InvenTree/plugin/base/integration/NotificationMixin.py
  src/backend/InvenTree/plugin/base/integration/SettingsMixin.py
  src/backend/InvenTree/plugin/base/label/label.py
  src/backend/InvenTree/plugin/base/label/test_label_mixin.py
  src/backend/InvenTree/plugin/builtin/integration/core_notifications.py
  src/backend/InvenTree/plugin/builtin/integration/test_core_notifications.py
  src/backend/InvenTree/plugin/builtin/suppliers/test_supplier_barcodes.py
  src/backend/InvenTree/plugin/migrations/0010_pluginusersetting.py
  src/backend/InvenTree/plugin/migrations/0011_delete_notificationusersetting.py
  src/backend/InvenTree/plugin/mixins/__init__.py
  src/backend/InvenTree/plugin/models.py
  src/backend/InvenTree/plugin/plugin.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/samples/integration/sample.py
  src/backend/InvenTree/plugin/serializers.py
  src/backend/InvenTree/plugin/test_api.py
  src/backend/InvenTree/templates/email/build_order_required_stock.html
  src/backend/InvenTree/templates/email/test_email.html
  src/backend/InvenTree/users/ruleset.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/components/settings/SettingList.tsx
  src/frontend/src/pages/Index/Settings/PluginSettingsGroup.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/src/states/SettingsStates.tsx
  src/frontend/tests/pui_plugins.spec.ts
  src/frontend/tests/pui_settings.spec.ts
Labels: bug, plugin, api, breaking, refactor, migration, User Interface, full-run

#10083 Stock filters
  src/frontend/lib/types/Filters.tsx
  src/frontend/src/tables/Filter.tsx
  src/frontend/src/tables/FilterSelectDrawer.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Labels: stock, User Interface

#10086 Update to Bare Metal installation docs
  contrib/deploy/supervisord.conf
  docs/docs/start/bare_prod.md
  docs/docs/start/install.md
Labels: setup, documentation, backport, backport-to-0.17.x

#10095 Sort search fields
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/schema.py
Labels: api, documentation

#10097 min version note
  docs/docs/plugins/creator.md
Labels: plugin, documentation

#10096 Enhanced permission checks for API
  src/backend/InvenTree/InvenTree/permissions.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/tests.py
Labels: bug, api, security

#9022 Sticky headers
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Labels: enhancement, User Interface

#10098 PurchaseOrder table improvements
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
Labels: order, User Interface

#9841 feat(docs): Add (high level) Changelog
  CHANGELOG.md
Labels: documentation

#10094 [plugin] Mandatory plugins
  docs/docs/plugins/develop.md
  docs/docs/plugins/index.md
  docs/docs/plugins/integrate.md
  docs/docs/start/config.md
  docs/mkdocs.yml
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/test_api.py
  src/backend/InvenTree/InvenTree/test_tasks.py
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/build/test_build.py
  src/backend/InvenTree/common/tests.py
  src/backend/InvenTree/machine/registry.py
  src/backend/InvenTree/machine/test_api.py
  src/backend/InvenTree/order/test_sales_order.py
  src/backend/InvenTree/order/tests.py
  src/backend/InvenTree/plugin/api.py
  src/backend/InvenTree/plugin/base/integration/ScheduleMixin.py
  src/backend/InvenTree/plugin/base/label/test_label_mixin.py
  src/backend/InvenTree/plugin/broken/bad_actor.py
  src/backend/InvenTree/plugin/builtin/barcodes/test_inventree_barcode.py
  src/backend/InvenTree/plugin/installer.py
  src/backend/InvenTree/plugin/models.py
  src/backend/InvenTree/plugin/plugin.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/serializers.py
  src/backend/InvenTree/plugin/test_api.py
  src/backend/InvenTree/plugin/test_plugin.py
  src/backend/InvenTree/report/api.py
  src/backend/InvenTree/report/tests.py
  src/backend/InvenTree/stock/test_api.py
  src/frontend/playwright.config.ts
  src/frontend/tests/pui_plugins.spec.ts
Labels: enhancement, plugin, security, full-run

#10088 Transition plugin
  docs/docs/plugins/mixins/transition.md
  docs/mkdocs.yml
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/generic/states/__init__.py
  src/backend/InvenTree/generic/states/test_transition.py
  src/backend/InvenTree/generic/states/transition.py
  src/backend/InvenTree/plugin/base/integration/TransitionMixin.py
  src/backend/InvenTree/plugin/mixins/__init__.py
  src/backend/InvenTree/plugin/plugin.py
  src/backend/InvenTree/plugin/samples/integration/transition.py
Labels: plugin, breaking, documentation
